<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Application Gestion de blé</title>
		
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\floating-labels.css">
		
		<link href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css" rel="stylesheet"> 
		
		<link rel="stylesheet" href="resources\Plugins\bootstrap-select-1.13.7\dist\css\bootstrap-select.min.css">
		<link rel="stylesheet" href="resources\Plugins\kartik-v-bootstrap-fileinput\css\fileinput.min.css"/>
		<link rel="stylesheet" href="resources\Plugins\kartik-v-bootstrap-fileinput\themes\explorer\theme.min.css"/> 
		
		<script  src="resources\additionalJS\jquery-3.2.1.min.js"></script>
		<script  src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
		
		
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\i18n\defaults-fr_FR.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\kartik-v-bootstrap-fileinput\js\fileinput.min.js"></script>
		
		<style>
		
		</style>
		
		<script type="text/javascript">
		
		$(document).ready(function(){
			
			$("#id_article").change(function() {
				
				var id_client = $("#id_client").val();
				var id_article = $(this).val();
				
				//$.ajaxSetup({async: false});
				get_prix_art (id_client,id_article);
				
				$("#pourc").val("");$("#new_price").val("");
					
			})
			
			$("#id_client").change(function() {
				
				var id_client = $(this).val();
				var id_article = $("#id_article").val();
				
				//$.ajaxSetup({async: false});
				get_prix_art (id_client,id_article);
				
				$("#pourc").val("");$("#new_price").val("");
				
			})
			
			$("#pourc").keyup(function() {
				
				var p = parseFloat( $(this).val() );
				
				var old_p = parseFloat( $("#old_price").val() );
				
				var new_p = old_p - ((p*old_p)/100);
				
				$("#new_price").val(new_p);
				
			});
			
			$("#new_price").keyup(function() {
				
				var new_p = parseFloat( $(this).val() );
				
				var old_p = parseFloat( $("#old_price").val() );
				
				var p = ((old_p - new_p)*100/old_p).toFixed(2); 
				
				$("#pourc").val(p);
				
			});
			
		})
		
		function get_prix_art (id_client,id_article){
			console.log("get_prix_art");
			$.ajax({
				url : 'get_prix_by_client',
				data : {
					id_client : id_client,
					id_article, id_article
				},
				success : function(responseJson) {
					
					if (responseJson != "null") {
						$("#old_price").val(responseJson);
						
// 						$.each(responseJson, function(key, value) {
							
// 							$("#old_price").val(value);

// 						}
// 						);

					}
				}
			});
			
		}
		
		</script>
		
</head>
<body>
	
	<div class="container-fluid h-100"> <!-- h-100 -->
		
		<div class="card">
		
			<!--
			<h3 class="card-header  text-center"> <i class="far fa-bread-slice"></i>  Ajouter un article </h3>
			<br>
			-->
			<form id="frm" th:action="@{/create_reduction_prix}" method="post" autocomplete="off">
						  
				<div class="card-body " th:with="info = ${info_entreprise}">
						  
					<div class="row d-flex justify-content-center">
					
						<div class="col-md-4">
						
							<label>Client</label>
							
							<select class="form-control selectpicker" data-style="btn btn-outline-secondary" data-live-search="true"
								name="id_client" id="id_client" data-size="5">
								
								<option disabled="disabled" value="" selected>Client</option>
								<option th:each="clt:${clients}" th:value="${clt.id}" th:text="${clt.code}" 
										th:attr="data-subtext=${clt.nom}+' '+${clt.prenom}, code_clt=${clt.code}"></option>

							</select>
							
						</div>
						
						<div class="col-md-4 offset-md-1">
							
							<label>Article</label>
							
							<select class="form-control selectpicker" data-style="btn btn-outline-secondary" data-live-search="true"
								name="id_article" id="id_article" data-size="5">
								
								<option disabled="disabled" value="" selected>Article</option>
								<option th:each="art:${articles}" th:value="${art.id}" 
								th:text="${art.produit.designation}+' '+${art.emballage_produit.nom_emballage}+' '+${art.pesage_produit.pesage}" 
								th:attr="data-subtext=${art.code}"></option>

							</select>
						
						</div>
						
					</div>
					
					<hr>
					
					<div class="row d-flex justify-content-center">
					
						<div class="col-md-3">
						
							<label> Prix </label>
							
							<input type="number" step="any" id="old_price" name="old_price" class="form-control" readonly>
						
						</div>
						
						<div class="col-md-3">
						
							<label> Prix avec réduction </label>
							
							<input type="number" step="any" id="new_price" class="form-control" name="new_price" required>
						
						</div>
						
						<div class="col-md-3">
						
							<label> Pourcentage de reduction </label>
							
							<input type="number" step="any" id="pourc" class="form-control" name="pourc" >
						
						</div>
						
					</div>
					
					<hr>
					
					<div class="row d-flex justify-content-center">
					
						<div class="col-md-4">
						
							<label> Date Début</label>
							
							<input type="date" id="date_debut" class="form-control" name="date_debut" required>
							
						</div>
						
						<div class="col-md-4 offset-md-1">
						
							<label> Date Fin</label>
							
							<input type="date" id="date_fin" class="form-control" name="date_fin" required>
						
						</div>
						
					</div>
					
					<hr>
					
					<div class="row d-flex justify-content-center">
					
						<div class="col-md-9 ">
						
							<label>Observation</label>
							
							<textarea rows="" cols="" id="obs" name="obs" class="form-control"></textarea>
							
						</div>
						
					</div>
					
					<hr>
					
					<div class="d-flex justify-content-center">
					
						<input type="submit" class="btn btn-primary" value="Valider">
					
					</div>
					
				</div>
			
			</form>
			
		</div>
		
	</div>
	
	<div id="error" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i id="icone" class="" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p id="text"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
	
</body>
</html>