<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Application Commercial</title>

		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\floating-labels.css">
		
		<script  src="resources\additionalJS\jquery-3.2.1.min.js"></script>
		<script  src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>

 	 	<link rel="stylesheet" media="all"  href="resources\PagesCSS\welcome.css" />   
		

</head>
<body >

	<img class="img" alt="SIM" src="resources\images\login\sim.png" style="">
	
		
</body>
</html>