<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="resources\Plugins\materialize\css\materialize.min.css" />
		<!--  <link rel="stylesheet" href="resources\Plugins\materialize\icon\materializ_icon.css" /> -->
		
		<link href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css" rel="stylesheet"> 
		
		<script  src="resources\additionalJS\jquery-3.2.1.min.js"></script>
		<script  src="resources\Plugins\materialize\js\materialize.min.js"></script>
		
		<script type="text/javascript" src="resources\PagesJS\navbar.js"></script>
		<link rel="stylesheet" href="resources\PagesCSS\navbar.css" />
		
<title></title>
</head>
<body>

	<ul id="slide-out" class="sidenav">
    <li>
	    <div class="user-view">
	    
	     	<div class="background">
	       		<img src="resources\images\welcome\fond-noir-de-bois-en-i_1024x576.jpg" >
	     	</div>
	     	
		    <img class="circle" th:src="${user.image}">
		    <span class="white-text name" th:text="${user.role.nom_role} +' : '+ ${user.username}"></span>
		    <span class="white-text email"></span> 
		  
	    </div>
    </li>
    
    <li >
    	
    	<ul class="collapsible expandable">
    		
    		<li>
    		
    			 <a style="color:red" class="sidenav-close" th:href="notif" target="frame" ><i class="far fa-bell" style="font-size: 20px;color:red;"></i>Notification <span style="color:red" class="badge" th:text="${notification}"></span> </a>
    		
    		</li>
    		
    		<li>
    		
    			 <a class="sidenav-close" th:href="acceuil" target="frame" ><i class="far fa-home" style="font-size: 20px;"></i>Acceuil </a>
    		
    		</li>
    		
    		<li th:each="menu:${list_menu}" th:with="id_menu=${menu[0]}">
    		
    			<div class="collapsible-header" > <span ><b th:text="${menu[1]}"></b></span></div>
      			<div class="collapsible-body">
      			
      				<ul th:each="sub_menu:${list_submenu}" >
      				
      					<li class="" th:each="sub:${sub_menu}" th:object="${sub}" th:if="${sub[3]} == ${menu[0]}">
      					
      						 <a class="sidenav-close li_drop" th:href="${sub[1]}" target="frame" >  <i th:attr="class='far fa-'+${sub[4]}+''" style="font-size: 20px;"></i> <label style="color:black;" th:text="${sub[0]}"></label> </a>
      																								<!-- <i class="material-icons" >[[${sub[4]}]]</i> // [[${sub[0]}]]-->
      					</li>
      					
      				</ul>
      				
      			</div>
    		
    		</li>
    	
    	</ul>
    	
    </li>
    
  </ul>
  
  <a href="#" data-target="slide-out" class="sidenav-trigger btn-floating btn-large waves-light blue" style="position:absolute;top:3px;left:3px;"><i class="material-icons">menu</i></a>
  
  <a th:href="@{/logout}" class="btn-floating btn-large waves-effect waves-light blue" style="position:absolute;top:3px;left:61px;"><i class="material-icons">exit_to_app</i></a>
  
  
</body>
</html>