<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Application Commercial</title>
		
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\floating-labels.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-select-1.13.7\dist\css\bootstrap-select.min.css">
		
		<link rel="stylesheet" href="resources\Plugins\datatable\css\dataTables.bootstrap4.min.css" />  
		
		<link href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css" rel="stylesheet"> 
		
		<script  src="resources\additionalJS\jquery-3.2.1.min.js"></script>
		<script  src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\datatable\js\jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js\dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\sum().js"></script>
		
		<script type="text/javascript" src="resources\additionalJS\drahem.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\i18n\defaults-fr_FR.min.js"></script>
		
		<script type="text/javascript">
		
		$(document).ready(function() {
			
			var datatable_config = {
					"language": {
				            "url": "resources/Plugins/datatable/lang/French.json"
				    },
					"ordering": true,
			    	"bPaginate": false,
					"scrollY":"400px",
					"scrollX": "auto",
			        "deferRender": true,
			        initComplete: function () {
			            this.api().columns([2]).every( function () {
			                var column = this;
			                var select = $('<select class="form-control" ><option value=""></option></select>')
			                    .appendTo( $(column.footer()).empty() )
			                    .on( 'change', function () {
			                        var val = $.fn.dataTable.util.escapeRegex(
			                            $(this).val()
			                        );
			 
			                        column
			                            .search( val ? '^'+val+'$' : '', true, false )
			                            .draw();
			                    } );
			 
			                column.data().unique().sort().each( function ( d, j ) {
			                    select.append( '<option value="'+d+'">'+d+'</option>' )
			                } );
			            } );
			        },
					 drawCallback: function () {
						
					      var api = this.api();
					      
					      $( api.column( 1, {page:'current'} ).footer() ).html(
					        api.column( 1, {page:'current'} ).data().sum().formatMoney(2, ',', ' ')
					      );
					      $( api.column( 4, {page:'current'} ).footer() ).html(
					        api.column( 4, {page:'current'} ).data().sum().formatMoney(2, ',', ' ')
					      );
					 },
		    };
		 		
		 	var table = $('#table').DataTable(datatable_config);
		 	
		});
		
		</script>
		
		
</head>
<body>
	
	<div class="container h-100">
		
		<div class="card">
		
			
			<h3 class="card-header  text-center"> <i class="far fa-bell"></i>  Notification  </h3>
			<br>
			
			<div class="card-body">
			
				<div class="container">
					
					<table id="table" class="table table-bordered table-hover" style="width:100%">
					
						<thead class="thead-dark">
						
							<tr>
							
								
								<th>Nom Prénom</th>
								<th>Sold Global</th>
								<th>Code RC</th>
								<th>Nom Prénom</th>
								<th>Sold RC</th>
								<th>Date debut</th>
								<th>Date Fin</th>
								
							</tr>
						
						</thead>
						
						<tbody>
						
							<tr th:each="rc_client:${rc_client}">
							
								
								<td th:text="${rc_client.client.nom}+' '+${rc_client.client.prenom}"></td>
								<td th:text="${#numbers.formatDecimal(rc_client.client.sold_encours, 3, 'WHITESPACE', 0,'COMMA')}"></td>
								<td th:text="${rc_client.registre_commerce.code}"></td>
								<td th:text="${rc_client.registre_commerce.nom}+' '+${rc_client.registre_commerce.prenom}"></td>
								<td th:text="${#numbers.formatDecimal(rc_client.montant_actuel, 3, 'WHITESPACE', 0,'COMMA')}"></td>
								<td th:text="${rc_client.date_debut}"></td>
								<td th:text="${rc_client.date_fin}"></td>
								
							</tr>
						
						</tbody>
						
						<tfoot>
						
							<tr>
							
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								
							</tr>
						
						</tfoot>
						
					</table>
				
				</div>
			
			</div>
			
		</div>
		
	</div>
	
	<div id="new_client" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i class="far fa-user-alt" style="font-size:30px;margin-right:10px;" id="icone"></i> <h5 class="modal-title" id="title"> Nouveau Client </h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      
	      <div class="modal-body" >
	         
	         <div id="print_content">
	         
	         	<!--  <iframe id="frame" width="100%" height="100%" onload="ifrhgh()" frameborder="0" src="/add_client"></iframe>  -->
	         
	         </div>
	         
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	      
	    </div>
	  </div>
	</div>
	
	<!-- ---------------------------------------------------------- ------ ----------------------------------------------------------------------------------- -->
	
	
	
</body>
</html>