<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Application Commercial</title>
		
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\floating-labels.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-select-1.13.7\dist\css\bootstrap-select.min.css">
		
		<link rel="stylesheet" href="resources\Plugins\datatable\css\dataTables.bootstrap4.min.css" />  
		
		<link rel="stylesheet" href="resources\Plugins\datatable\js_additional\buttons.dataTables.min.css" /> 
		
		<link rel="stylesheet" href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css" > 
		
		<link rel="stylesheet" href="resources\Plugins\kartik-v-bootstrap-fileinput\css\fileinput.min.css"/>
		
		<script  src="resources\additionalJS\jquery-3.2.1.min.js"></script>
		<script  src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\datatable\js\jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js\dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\sum().js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\dataTables.buttons.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\buttons.html5.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\buttons.print.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\buttons.colVis.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\pdfmake.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\vfs_fonts.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\buttons.colVis.min.js"></script>
		
		
		<script type="text/javascript" src="resources\additionalJS\drahem.js"></script>
		
		
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\i18n\defaults-fr_FR.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\kartik-v-bootstrap-fileinput\js\fileinput.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\kartik-v-bootstrap-fileinput\js\plugins\piexif.js"></script>
		
		
		<script type="text/javascript">
		
		$(document).ready(function() {
			
			var getUrlParameter = function getUrlParameter(sParam) {
			    var sPageURL = window.location.search.substring(1),
			        sURLVariables = sPageURL.split('&'),
			        sParameterName,
			        i;

			    for (i = 0; i < sURLVariables.length; i++) {
			        sParameterName = sURLVariables[i].split('=');

			        if (sParameterName[0] === sParam) {
			            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
			        }
			    }
			};
			
			var ret = getUrlParameter('ret');
			
			if(ret!=null){
				
				$("#title").text("Information");
				$("#icone").attr("class","far fa-info-circle");
				
				$("#text").text("Annulation effectuer avec succes ");
				
				$("#error").modal('show');
					
			}
			
			var datatable_config = {
					"language": {
			            "url": "resources/Plugins/datatable/lang/French.json"
				    },
					"ordering": true,
			    	"bPaginate": false,
					"scrollY":"400px",
					"scrollX": "auto",
			        "deferRender": true,
			        initComplete: function () {
			            this.api().columns([1,2,3,5,6,12,13]).every( function () {
			                var column = this;
			                var select = $('<select class="selectpicker show-tick" data-width="fit" data-style="btn btn-outline-secondary" '+ 
	                				'data-live-search="true" data-container="body"><option value="">Tout</option></select>')
			                    .appendTo( $(column.footer()).empty() )
			                    .on( 'change', function () {
			                        var val = $.fn.dataTable.util.escapeRegex(
			                            $(this).val()
			                        );
			 
			                        column
			                            .search( val ? '^'+val+'$' : '', true, false )
			                            .draw();
			                    } );
			 
			                column.data().unique().sort().each( function ( d, j ) {
			                    select.append( '<option value="'+d+'">'+d+'</option>' )
			                } );
			                $('.selectpicker').selectpicker('refresh');
			            } );
			        
			        },
					 drawCallback: function () {
						
					      var api = this.api();
					      
					      $( api.column( 4, {page:'current'} ).footer() ).html(
					        api.column( 4, {page:'current'} ).data().sum().formatMoney(2, ',', ' ')
					      );
					      
					 },
		    };
		 		
		 	var table = $('#table').DataTable(datatable_config);
		 	var table_imp = $('#table_impaye').DataTable(datatable_config);
			
		 	//------------------- TO RENDER table header and footer between tabs
		 	
		 	$('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
		        $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
		    } );
		 	
			
			$("#afficher").click(function(){
				
				var start = $("#debut").val();
				
				var end = $("#fin").val();
				
				if(start=="" || end==""){
					
					$("#title").text("Erreur !!!");
					$("#icone").attr("class","far fa-exclamation-triangle");
					$("#text").html("<span> Veuillez selectionner les dates !!! <span>");
					$("#error").modal('show');
					
				}
				else{
					
					//console.log("start = "+start+" / end = "+end);
					window.location.replace("list_remboursements?date_debut="+start+"&date_fin="+end);
					
				}
				
			});
			
		});
		
		</script>
		
		<style type="text/css">
		
			
		
		</style>
		
		<link rel="stylesheet" href="resources\additionalCSS\app-theme.css?v=20260902c">
		<script src="resources\additionalJS\app-theme.js?v=20260902c"></script>
	</head>
<body>
	<br>
	<div class="container-fluid h-100"> <!-- h-100 -->
		
		<div class="card">
		
			<div class="card-header">
			
				<h3 class="text-center"> <i class="far fa-reply"></i>  List des Remboursements </h3> 
				
			</div>
			
			<div class="card-body">
			
				<div class="container-fluid">
					
					<div class="row">
						
						
						<div class="col-md-4" >
						
							<div class="input-group">
							
								<input id="debut" type="date" name="start" th:value="${date_d}"  class="form-control date" placeholder="DU">
									
								<span class="input-group-text declaration"><i class="far fa-calendar-alt"></i> </span>
								
								<input id="fin" type="date" name="end" th:value="${date_f}" class="form-control date" placeholder="AU">
								
								<button id="afficher" name="afficher" class="btn btn-dark" type="button">Afficher</button>
									
							</div>
							
						</div>
						
					</div>
					
					<hr>
					
						
						
					<table id="table" class="table table-bordered table-hover" >
					
						<thead class="thead-dark">
							
							<tr>
								<th width="">ID</th>
								<th width="10%">Client</th>
								<th width="">Code RC</th>
								<th width="35%">RC</th>
								<th width="22%">Montant</th>
								<th>Mode de paiement</th>
								<th>Banque</th>
								<th>Date piece</th>
								<th>Date Saisie</th>
								<th>N° de la piece</th>
							</tr>
						
						</thead>
						
						<tbody>
						
							<tr th:each="pay:${remboursements}">
							
								<td th:text="${pay.id}"></td>
								<td th:text="${pay.client.nom}+' '+${pay.client.prenom}"></td>
								<td th:text="${pay.registre_commerce.code}"></td>
								<td th:text="${pay.registre_commerce.nom}+' '+${#strings.defaultString(pay.registre_commerce.prenom,'')}"></td>
								<td th:text="${#numbers.formatDecimal(pay.montant, 3, 'WHITESPACE', 2,'POINT')}"></td>
								<td th:text="${pay.mode_paiement.designation}"></td>
								<td th:if="${pay.banque}==null" ></td>
								<td th:unless="${pay.banque}==null" th:text="${pay.banque.nom_banque}"></td>
								<td th:text="${pay.date}"></td>
								<td th:text="${pay.date_saisie}"></td>
								<td th:text="${pay.numero_piece}"></td>
							</tr>
						
						</tbody>
						
						<tfoot class="thead-dark">
						
							<tr>
							
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								
							</tr>
						
						</tfoot>
						
					</table>
						
				</div>
			
			</div>
			
		</div>
		
	</div>
	
	
	<!-- ---------------------------------------------------------- ------ ----------------------------------------------------------------------------------- -->
	
	<div id="error" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i id="icone" class="" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p id="text"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
	
	<div id="confirmation" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered"  role="document">
	  	
	    <div class="modal-content">
	      
	      <div class="modal-header">
	        <i id="icone" class="far fa-exclamation-triangle" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title">Attention</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      
	      <div class="modal-body">
	        <p id="text_confirmation"></p>
	      </div>
	      
	      <div class="modal-footer justify-content-center">
	      	<button id="confirm" type="button" class="btn btn-primary">OUI</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
	      </div>
	      
	    </div>
	    
	  </div>
	</div>
	
	
	
</body>
</html>