<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Application Commercial</title>
		
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\floating-labels.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-select-1.13.7\dist\css\bootstrap-select.min.css">
		
		<link rel="stylesheet" href="resources\Plugins\datatable\css\dataTables.bootstrap4.min.css" />  
		
		<link rel="stylesheet" href="resources\Plugins\datatable\js_additional\buttons.dataTables.min.css" /> 
		
		<link rel="stylesheet" href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css" > 
		
		<link rel="stylesheet" href="resources\Plugins\kartik-v-bootstrap-fileinput\css\fileinput.min.css"/>
		
		<script  src="resources\additionalJS\jquery-3.2.1.min.js"></script>
		<script  src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\datatable\js\jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js\dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\sum().js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\dataTables.buttons.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\buttons.html5.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\buttons.print.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\buttons.colVis.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\pdfmake.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\vfs_fonts.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\buttons.colVis.min.js"></script>
		
		
		<script type="text/javascript" src="resources\additionalJS\drahem.js"></script>
		
		
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\i18n\defaults-fr_FR.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\kartik-v-bootstrap-fileinput\js\fileinput.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\kartik-v-bootstrap-fileinput\js\plugins\piexif.js"></script>
		
		
		<script type="text/javascript">
		
		$(document).ready(function() {
			
			var getUrlParameter = function getUrlParameter(sParam) {
			    var sPageURL = window.location.search.substring(1),
			        sURLVariables = sPageURL.split('&'),
			        sParameterName,
			        i;

			    for (i = 0; i < sURLVariables.length; i++) {
			        sParameterName = sURLVariables[i].split('=');

			        if (sParameterName[0] === sParam) {
			            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
			        }
			    }
			};
			
			var ret = getUrlParameter('ret');
			
			if(ret!=null){
				console.log("ret : "+ret);
				var message = "Annulation effectuer avec succes ";
				if(ret=="error"){
					 message= "Une erreur s'est produite lors de l'annulation "
				}
				
				$("#title").text("Information");
				$("#icone").attr("class","far fa-info-circle");
				
				$("#text").text(message);
				
				$("#error").modal('show');
					
			}
			
			$('[data-toggle="tooltip"]').tooltip()
			
			var img_path = $("#img").val();
			
			$("#img_piece").fileinput({
			    overwriteInitial: true,
			    maxFileSize: 25000,
			    showClose: false,
			    showCaption: false,
			    browseLabel: '',
			    removeLabel: '',
			    browseIcon: '<i class="far fa-folder-open"></i>',
			    removeIcon: '<i class="far fa-trash-alt"></i>',
			    removeTitle: 'Cancel or reset changes',
			    elErrorContainer: '#kv-avatar-errors-1',
			    msgErrorClass: 'alert alert-block alert-danger',
			    defaultPreviewContent: '<img src="/display_img?link='+img_path+'" >',
			    layoutTemplates: {main2: '{preview} {remove} {browse}'},
			    allowedFileExtensions: ["jpg", "png", "svg","jpeg"]
			});
			
			var datatable_config = {
					"language": {
			            "url": "resources/Plugins/datatable/lang/French.json"
				    },
					"ordering": true,
			    	"bPaginate": false,
					"scrollY":"400px",
					"scrollX": "auto",
			        "deferRender": true,
			        initComplete: function () {
			            this.api().columns([1,2,3,5,6,12,13]).every( function () {
			                var column = this;
			                var select = $('<select class="selectpicker show-tick" data-width="fit" data-style="btn btn-outline-secondary" '+ 
	                				'data-live-search="true" data-container="body"><option value="">Tout</option></select>')
			                    .appendTo( $(column.footer()).empty() )
			                    .on( 'change', function () {
			                        var val = $.fn.dataTable.util.escapeRegex(
			                            $(this).val()
			                        );
			 
			                        column
			                            .search( val ? '^'+val+'$' : '', true, false )
			                            .draw();
			                    } );
			 
			                column.data().unique().sort().each( function ( d, j ) {
			                    select.append( '<option value="'+d+'">'+d+'</option>' )
			                } );
			                $('.selectpicker').selectpicker('refresh');
			            } );/*
			        	this.api().columns([5]).every( function () {
			                var column = this;
			                var select = $('<select class="selectpicker show-tick" data-width="100%" data-style="btn btn-outline-secondary" '+ 
			                				'data-container="body" multiple="multiple" ><option title="T" value="" selected>Tout</option></select>')
			                    .appendTo( $(column.footer()).empty() )
			                    .on( 'change', function () {
			                    	var vals = $('option:selected', this).map(function (index, element) {
			                        	return $.fn.dataTable.util.escapeRegex($(element).val());
			                        }).toArray().join('|');
			 
			                        column
			                            .search( vals.length > 0 ? '^('+vals+')$' : '', true, false )
			                            .draw();
			                    } );
			 
			                column.data().unique().sort().each( function ( d, j ) {
			                    select.append( '<option title="'+d.slice(0,2)+'" value="'+d+'">'+d+'</option>' )
			                } );
			                $('.selectpicker').selectpicker('refresh');
			            } );*/
			        
			        },
					 drawCallback: function () {
						
					      var api = this.api();
					      
					      $( api.column( 4, {page:'current'} ).footer() ).html(
					        api.column( 4, {page:'current'} ).data().sum().formatMoney(2, ',', ' ')
					      );
					      
					 },
		    };
		 		
		 	var table = $('#table').DataTable(datatable_config);
		 	var table_imp = $('#table_impaye').DataTable(datatable_config);
			
		 	//------------------- TO RENDER table header and footer between tabs
		 	
		 	$('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
		        $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
		    } );
		 	
		 	//------------------- ------------------------------------------------------
		 	
		 	$("#mode_pay").change(function() {
				
		 		//console.log($(this).val())
		 		let val = $(this).val();
		 		
		 		const test = val.some(function(value) {
					
		 			return value==0;
		 			
				});
		 		
		 		if( test === true ) {
		 			
		 			$(this).selectpicker('deselectAll');
		 			$(this).val([0]);
		 			$(this).selectpicker('refresh');
		 			
		 		}
		 		
			});
		 	
			$("#new_payment").click(function(){
				
				$('#print_content').html('<iframe id="frame" width="100%" height="900" onload="ifrhgh()" frameborder="0" '+
						'src="new_payment"></iframe>');
				
				$("#title_pay").text("Nouveau paiement");
				
				$("#icone_pay").attr("class","far fa-cash-register");
				
				$("#new_payment_modal").modal("show");
				
			});
			
			$("#print_b").click(function() {
				
				$('#print_content').html('<iframe id="frame" width="100%" height="900" onload="ifrhgh()" frameborder="0" '+
						'src="print_bordereau_pay?start='+$("#debut").val()+'&end='+$("#fin").val()+'&mode_pay='+$("#mode_pay").val()+'"></iframe>');
				
				$("#title_pay").text("BORDEREAU DE REMISE DES PAIEMENTS");
				
				$("#icone_pay").attr("class","far fa-file-spreadsheet");
				
				$("#new_payment_modal").modal("show");
				
			})
			
			$("#remboursement").click(function(){
				
				$('#print_content').html('<iframe id="frame" width="100%" height="900" onload="ifrhgh()" '+
						'frameborder="0" src="new_rmb"></iframe>');
				
				$("#title_pay").text("Remboursement");
				
				$("#icone_pay").attr("class","far fa-cash-register");
				
				$("#new_payment_modal").modal("show");
				
			});
			
			$(".img").click(function(){
				
				var url = $(this).attr("src");
				
			});
			
			var id_pay = 0;
			
			$(".cancel").click(function(){
			
				id_pay = $(this).attr("id_payment");
				var nom_client = $(this).attr("nom_client");
				var code_client = $(this).attr("code_client");
				var montant = $(this).attr("montant");
				var num_piece = $(this).attr("num_piece");
				
				$("#text_confirmation").html("Etes vous sure d'annuler le paiement N°<b>"+num_piece+"</b> avec le monatant <b>"+montant+" DA</b>"+ 
												" du client <b>"+nom_client+"</b> avec le code <b>"+code_client+"</b> ?");
				
				$("#confirmation").modal('show');
				
			})
			
			$(".edit").click(function(){
				
				var id_pay = $(this).attr("id_payment");
				
				var num_pay = $(this).attr("num_piece");
				
				$('#print_content').html('<iframe id="frame" width="100%" height="900" onload="ifrhgh()" '+
						'frameborder="0" src="edit_payment/'+id_pay+'"></iframe>');
				
				$("#title_pay").text("Modification Paiement ID : "+id_pay+" avec N° "+num_pay);
				
				$("#icone_pay").attr("class","far fa-edit");
				
				$("#new_payment_modal").modal("show");
				
			});
			
			$(".add_img").click(function(){
			
				var id_pay = $(this).attr("id_payment");
				
				var path_pay = $(this).attr("path_img");
				
				console.log("->"+path_pay)
				
				if(typeof path_pay === "undefined"){
					
					$("#id-payment").val(id_pay);
					
					$("#add_image").modal('show');
					
				}
				else{
					
					$("#img_preview").attr("src","/display_img?link="+path_pay);
					
					$("#img_display").modal('show');
					
				}
				
			})
			
			$("#afficher").click(function(){
				
				var start = $("#debut").val();
				
				var end = $("#fin").val();
				
				if(start=="" || end==""){
					
					$("#title").text("Erreur !!!");
					$("#icone").attr("class","far fa-exclamation-triangle");
					$("#text").html("<span> Veuillez selectionner les dates !!! <span>");
					$("#error").modal('show');
					
				}
				else{
					
					//console.log("start = "+start+" / end = "+end);
					window.location.replace("list_payments?date_debut="+start+"&date_fin="+end);
					
				}
				
			});
			
			$("#years").change(function(){
				
				var start = "01/01/"+$(this).val();
				
				var end = "31/12/"+$(this).val();
					
				window.location.replace("list_payments?date_debut="+start+"&date_fin="+end);
				
			});
			
			
			$("#today").click(function(){
					
				//console.log("start = "+start+" / end = "+end);
				window.location.replace("list_payments?date_debut=0&date_fin=0");
				
				
			});
			
			$(".cloose").click(function(){
			
				location.reload();
				
			})
			
			$("#confirm").click(function(){
				
				$(this).attr("disabled", true);
				
				$.ajax({
					url : 'cancel_payment',
					data : {
						id_payment : id_pay
					},
					success : function(responseJson) {
						console.log("succuess  ret: "+ responseJson)
						//location.reload();
						var url = new URL(window.location.href);
						url.searchParams.set('ret',responseJson);
						window.location.href = url.href;
						
					}
					
				});
				
			});
			
			
		});

		$(function () {
		    $('#new_payement_modal').on('shown.bs.modal', function () {
		        //$('#print_content').html('<iframe id="frame" width="100%" height="100%" onload="ifrhgh()" frameborder="0" src="/add_client"></iframe>');
		    });
		});

		function ifrhgh(){
		    var iframehght =  $("#frame").contents().height();
		    $("#frame").height(iframehght);
		}
		
		</script>
		
		<style type="text/css">
		
			.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
			    margin: 0;
			    padding: 0;
			    border: none;
			    box-shadow: none;
			    text-align: center;
			}
			.kv-avatar {
			    display: inline-block;
			}
			.kv-avatar .file-input {
			    display: table-cell;
			    width: 100%;
			}
			.kv-reqd {
			    color: red;
			    font-family: monospace;
			    font-weight: normal;
			}
		
		</style>
		
		<link rel="stylesheet" href="resources\additionalCSS\app-theme.css?v=20260902c">
		<script src="resources\additionalJS\app-theme.js?v=20260902c"></script>
	</head>
<body>
	<br>
	<div class="container-fluid h-100"> <!-- h-100 -->
		
		<div class="card">
		
			<div class="card-header">
			
				<h3 class="text-center"> <i class="far fa-cash-register"></i>  List des Paiements </h3> 
				
			</div>
			
			<div class="card-body">
			
				<div class="container-fluid">
					
					<div class="row">
						
						<div class="col-md-2" >
						
							<button id="new_payment" class="btn btn-dark btn_icon"> <span> Nouveau paiement </span> <i class="far fa-plus-circle"></i> </button>
						
						</div>
						
						<div class="col-md-2" style="border-right:5px;border-color: #343a40;border-right-style: solid;">
						
							<button id="remboursement" class="btn btn-dark btn_icon"> <span> Remboursement </span> <i class="far fa-plus-circle"></i> </button>
						
						</div>
						
						<div class="col-md-4" >
						
							<div class="input-group">
							
								<input id="debut" type="date" name="start" th:value="${date_d}"  class="form-control date" placeholder="DU">
									
								<span class="input-group-text declaration"><i class="far fa-calendar-alt"></i> </span>
								
								<input id="fin" type="date" name="end" th:value="${date_f}" class="form-control date" placeholder="AU">
								
								<button id="afficher" name="afficher" class="btn btn-dark" type="button">Afficher</button>
									
							</div>
							
						</div>
						
						<div class="col-md-3" >
						
							<div class="input-group">
						
								<select id="mode_pay" name="mode_pay" class="selectpicker show-tick jump" data-live-search="true" 
									data-style="btn-outline-dark" title="Mode" multiple="multiple">
									
									<option value="0" style="color: red;" > Les impayés </option>
									<option th:each="mode_p:${mode_payement}" th:value="${mode_p.id}" th:text="${mode_p.designation}" selected></option>
								
								</select>
								
								<div class="input-group-append">
									<input type="button" id="print_b" class="btn btn-dark" value="Impprimer bordereau">
									
								</div>
								
							</div>
						
						</div>
						
					</div>
					
					<hr>
					
					<ul class="nav nav-tabs" id="myTab" role="tablist">
					
					  <li class="nav-item">
					    <a class="nav-link active" data-toggle="tab" href="#list_paye" role="tab" aria-controls="info" 
					    	aria-selected="true">Liste des paiements</a>
					  </li>
					  
					  <li class="nav-item">
					    <a class="nav-link" data-toggle="tab" href="#list_impaye" role="tab" aria-controls="info" aria-selected="true">
					    	Liste des Imapyés  <span class="badge badge-danger" th:text="${count_impaye}"></span> </a> 
					  </li>
					
					</ul>
					
					<div class="tab-content" id="nav-tabContent">
						
						<div class="tab-pane fade show active" id="list_paye" role="tabpanel" aria-labelledby="nav_Quant_Fact">
							<br>
							<table id="table" class="table table-bordered table-hover" >
							
								<thead class="thead-dark">
									
									<tr style="background-color: rgb(52, 58, 64);color: white;">
									
										<td colspan="12" style="text-align: center">Commercial</td>
										<td colspan="2" style="text-align: center">Comptabilité</td>
									
									</tr>
									
									<tr>
										<th width="">ID</th>
										<th width="10%">Client</th>
										<th width="">Code RC</th>
										<th width="35%">RC</th>
										<th width="22%">Montant</th>
										<th>Mode de paiement</th>
										<th>Banque</th>
										<th>Date piece</th>
										<th>Date Saisie</th>
										<th>N° de la piece</th>
										<th width="">Observation</th>
										<th width="10%">Opération</th>
										<th>Vérification</th>
										<th>Etat</th>
									</tr>
								
								</thead>
								
								<tbody>
								
									<tr th:each="pay:${payments}">
									
										<td th:text="${pay.id}"></td>
										<td th:text="${pay.client.nom}+' '+${pay.client.prenom}"></td>
										<td th:text="${pay.registre_commerce.code}"></td>
										<td th:text="${pay.registre_commerce.nom}+' '+${#strings.defaultString(pay.registre_commerce.prenom,'')}"></td>
										<td th:text="${#numbers.formatDecimal(pay.montant, 3, 'WHITESPACE', 2,'POINT')}"></td>
										<td th:text="${pay.mode_paiement.designation}"></td>
										<td th:if="${pay.banque}==null" ></td>
										<td th:unless="${pay.banque}==null" th:text="${pay.banque.nom_banque}"></td>
										<td th:text="${pay.date}"></td>
										<td th:text="${pay.date_saisie}"></td>
										<td th:text="${pay.numero_piece}"></td>
										<td th:text="${pay.observation}"></td>
										<td style="text-align: center;">
										
											<button class="btn btn-success btn-sm add_img" th:attr="id_payment=${pay.id},path_img=${pay.path_img}">
												<i th:if="${pay.path_img}==''" class="far fa-paperclip"></i>
												<i th:unless="${pay.path_img}==''" class="far fa-image"></i>
											</button> 
											
											<button th:if="${edit_pay}==true and ${pay.verification}==false" type="button" class="btn btn-warning btn-sm edit" 
																			th:attr="id_payment=${pay.id},
																					 num_piece=${pay.numero_piece}"> 
																						<i class="far fa-edit"></i>
											</button>
											
											<button th:if="${cancel_pay}==true" type="button" class="btn btn-danger btn-sm cancel" 
																			th:attr="id_payment=${pay.id},
																					 nom_client=${pay.registre_commerce.nom}+' '+${pay.registre_commerce.prenom},
																					 code_client=${pay.registre_commerce.code},
																					 montant=${#numbers.formatDecimal(pay.montant, 3, 'WHITESPACE', 2,'POINT')},
																					 num_piece=${pay.numero_piece}"> 
																						<i class="far fa-trash"></i>
											</button>
											
										</td>
										<td th:if="${pay.verification}==true" style="color: green;"> Términer </td>
										<td th:unless="${pay.verification}==true" style="color: orange;"> En cours </td>
										<td th:if="${pay.validation}==true" style="color: green;"> Payé </td>
										<td th:unless="${pay.validation}==true" style="color: red;">Impayé</td>
									</tr>
								
								</tbody>
								
								<tfoot class="thead-dark">
								
									<tr>
									
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										
									</tr>
								
								</tfoot>
								
							</table>
							
						</div>
						
						<div class="tab-pane fade" id="list_impaye" role="tabpanel" aria-labelledby="nav_Quant_Fact">
							<br>
							<table id="table_impaye" class="table table-bordered table-hover" >
							
								<thead class="thead-dark">
									
									<tr style="background-color: rgb(52, 58, 64);color: white;">
									
										<td colspan="12" style="text-align: center">Commercial</td>
										<td colspan="2" style="text-align: center">Comptabilité</td>
									
									</tr>
									
									<tr>
										<th width="5%">ID</th>
										<th width="10%">Client</th>
										<th width="5%">Code RC</th>
										<th width="20%">RC</th>
										<th width="10%">Montant</th>
										<th>Mode de paiement</th>
										<th>Banque</th>
										<th>Date piece</th>
										<th>Date Saisie</th>
										<th>N° de la piece</th>
										<th width="20%">Observation</th>
										<th width="20%">Opération</th>
										<th>Vérification</th>
										<th>Etat</th>
									</tr>
								
								</thead>
								
								<tbody>
								
									<tr th:each="pay:${impayments}">
									
										<td th:text="${pay.id}"></td>
										<td th:text="${pay.client.nom}+' '+${pay.client.prenom}"></td>
										<td th:text="${pay.registre_commerce.code}"></td>
										<td th:text="${pay.registre_commerce.nom}+' '+${#strings.defaultString(pay.registre_commerce.prenom,'')}"></td>
										<td th:text="${#numbers.formatDecimal(pay.montant, 3, 'WHITESPACE', 2,'POINT')}"></td>
										<td th:text="${pay.mode_paiement.designation}"></td>
										<td th:if="${pay.banque}==null" ></td>
										<td th:unless="${pay.banque}==null" th:text="${pay.banque.nom_banque}"></td>
										<td th:text="${pay.date}"></td>
										<td th:text="${pay.date_saisie}"></td>
										<td th:text="${pay.numero_piece}"></td>
										<td th:text="${pay.observation}"></td>
										<td style="text-align: center;">
										
											<button class="btn btn-success add_img" th:attr="id_payment=${pay.id},path_img=${pay.path_img}">
												<i th:if="${pay.path_img}==''" class="far fa-paperclip"></i>
												<i th:unless="${pay.path_img}==''" class="far fa-image"></i>
											</button> 
											
											<button th:if="${edit_pay}==true and ${pay.verification}==false" type="button" class="btn btn-warning edit" 
																			th:attr="id_payment=${pay.id},
																					 num_piece=${pay.numero_piece}"> 
																						<i class="far fa-edit"></i>
											</button>
											
											<button th:if="${cancel_pay}==true" type="button" class="btn btn-danger cancel" 
																			th:attr="id_payment=${pay.id},
																					 nom_client=${pay.registre_commerce.nom}+' '+${pay.registre_commerce.prenom},
																					 code_client=${pay.registre_commerce.code},
																					 montant=${#numbers.formatDecimal(pay.montant, 3, 'WHITESPACE', 2,'POINT')},
																					 num_piece=${pay.numero_piece}"> 
																						<i class="far fa-trash"></i>
											</button>
											
										</td>
										<td th:if="${pay.verification}==true" style="color: green;"> Términer </td>
										<td th:unless="${pay.verification}==true" style="color: orange;"> En cours </td>
										<td th:if="${pay.validation}==true" style="color: green;"> Payé </td>
										<td th:unless="${pay.validation}==true" style="color: red;">Impayé</td>
									</tr>
								
								</tbody>
								
								<tfoot class="thead-dark">
								
									<tr>
									
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										
									</tr>
								
								</tfoot>
								
							</table>
							
						</div>
						
					</div>
					
				</div>
			
			</div>
			
		</div>
		
	</div>
	
	<div id="new_payment_modal" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered mw-100 w-75" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i id="icone_pay" class="far fa-user-alt" style="font-size:30px;margin-right:10px;" ></i> <h5 id="title_pay" class="modal-title" > </h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      
	      <div class="modal-body  embed-responsive embed-responsive-16by9" style="overflow-y:hidden;" id="print_content" >
	         
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary cloose" data-dismiss="modal">Fermer</button>
	      </div>
	      
	    </div>
	  </div>
	</div>
	
	<!-- ---------------------------------------------------------- ------ ----------------------------------------------------------------------------------- -->
	
	<div id="error" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i id="icone" class="" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p id="text"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
	
	<div id="confirmation" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered"  role="document">
	  	
	    <div class="modal-content">
	      
	      <div class="modal-header">
	        <i id="icone" class="far fa-exclamation-triangle" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title">Attention</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      
	      <div class="modal-body">
	        <p id="text_confirmation"></p>
	      </div>
	      
	      <div class="modal-footer justify-content-center">
	      	<button id="confirm" type="button" class="btn btn-primary">OUI</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
	      </div>
	      
	    </div>
	    
	  </div>
	</div>
	
	<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
	
	<div id="img_display" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-scrollable modal-xl  modal-dialog-centered" role="document">
	    <div class="modal-content">
	      
	      <div class="modal-body text-center" >
	         
	         	<img id="img_preview" class="" alt="" src="">
	         	
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	      
	    </div>
	  </div>
	</div>
	
	<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
	
	<div id="add_image" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered"  role="document">
	  	
	    <div class="modal-content">
	      
	      <div class="modal-header">
	        <i id="icone" class="far fa-file-image" style="font-size:30px;color:black;margin-right:10px;"></i> <h5 class="modal-title" id="title">Ajouter image</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      
	      <div class="modal-body">
	      
	        <form id="frm" th:action="@{/add_img_payment}" method="post" autocomplete="off" enctype="multipart/form-data">
	        	
	        	<input type="hidden" id="id-payment" name="id-payment">
	        	
		        <div class="row">
										
					<div class="col-md-3">
						
						<label> <b>Image de la piece</b> </label>
						
						<div class="kv-avatar">
			                <div class="file-loading">
			                    <input id="img_piece" name="img_piece" type="file" accept=".jpg,.png,.jpeg,.svg" >
			                </div>
			            </div>
						
					</div>
					
				</div>
				
				<hr>
				
				<div class="d-flex justify-content-center">
				
					<input id="sub" type="submit" class="btn btn-primary" value="Valider">
				
				</div>
			
			</form>
	        
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary cloose" data-dismiss="modal">Fermer</button>
	      </div>
	      
	    </div>
	    
	  </div>
	</div>
	
	<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
	
	
</body>
</html>