<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Application Commercial</title>
		
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\floating-labels.css">
		<!-- <link rel="stylesheet" href="resources\additionalCSS\BootstrapButtonMaterielizeIcon.css" />  -->
		
		<link href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css" rel="stylesheet"> 
		
		<script  src="resources\additionalJS\jquery-3.2.1.min.js"></script>
		<script  src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
		
		
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\i18n\defaults-fr_FR.min.js"></script>
		
		<script type="text/javascript" src="resources\PagesJS\parametre\list_banque.js"></script>
		
</head>
<body>
	
	<div class="container-fluid h-100">
		
		<div class="card">
		
			
			<h3 class="card-header  text-center"> <i class="far fa-university"></i>  List des banques </h3>
			<br>
			
			<div class="card-body">
			
				<div class="container">
					
					<div class="row">
					
						<div class="col-md-3">
						
							<button id="add_banque" class="btn btn-dark btn_icon"> <span> Ajouter une nouvelle banque </span> <i class="far fa-plus-circle"></i> </button>
						
						</div>
					
					</div>
					
					<hr>
					
					<table id="list_b" class="table table-bordered table-hover">
					
						<thead class="thead-dark">
						
							<tr>
							
								<th>Nom Banque</th>
								<th>Code</th>
								<th>Numero Compte entreprise</th>
								<th>Modifier</th>
								
							</tr>
						
						</thead>
						
						<tbody>
						
							<tr th:each="banque:${banque}">
							
								<td th:text="${banque.nom_banque}"></td>
								<td th:text="${banque.code}"></td>
								<td th:text="${banque.numero_compte_entreprise}"></td>
								<td style="text-align: center;"> 
										<button type="button" class="btn btn-info edit" th:attr="id_banque=${banque.id},
												  nom_banque=${banque.nom_banque},
												  code=${banque.code},								
												  numero_compte_entreprise=${banque.numero_compte_entreprise},
												  display=${banque.display}"
												  > 
												<i class="far fa-edit"></i>
										 </button> 
								</td>
								
							</tr>
						
						</tbody>
						
					</table>
				
				</div>
			
			</div>
			
		</div>
		
	</div>
	
	<div id="add_edit_banque" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i class="" style="font-size:30px;margin-right:10px;" id="icone"></i> <h5 class="modal-title" id="title"> Information </h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      
	      <div class="modal-body">
	        
	        <form id="frm" th:action="@{/add_edit_banque}" method="post" autocomplete="off">
				
				<input type="hidden" id="id_banque" name="id_banque">
				
				<div class="row">
				
					<div class="col-md-3">
					
						<label> Nom de la banque</label>
						
						<input type="text" id="nom_banque" name="nom_banque" class="form-control clear" required>
						
					</div>
					
					<div class="col-md-3">
					
						<label>Code la banque</label>
						
						<input type="number" id="code" name="code" class="form-control clear" required>
						
					</div>
					
					<div class="col-md-4">
					
						<label> N° compte de l'entreprise</label>
						
						<input type="number" step="any" id="num_compte" name="num_compte" class="form-control clear" required>
					
					</div>
					
					<div class="col-md-1">
					
						<label>Afficher</label>
						
						<input type="checkbox" id="display_ui"  class="form-control">
			        	<input type="hidden" id="display" name="display">
						
					</div>
				
				</div>
				
				<hr>
				
				<div class="d-flex justify-content-center">
				
					<input type="submit" class="btn btn-primary" value="Valider">
				
				</div>
					
			</form>
	        
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
	
<!-- ---------------------------------------------------------------------TEST -->
	
	

<!-- ------------------------------------------------------------------------------------------ -->
	
</body>
</html>