<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Application Commercial</title>
		
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\floating-labels.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-select-1.13.7\dist\css\bootstrap-select.min.css">
		<link rel="stylesheet" href="resources\Plugins\kartik-v-bootstrap-fileinput\css\fileinput.min.css"/>
		
		<link href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css" rel="stylesheet"> 
		
		<script  src="resources\additionalJS\jquery-3.2.1.min.js"></script>
		<script  src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
		
		<script type="text/javascript" src="resources\additionalJS\MySpin.js"></script> 
		
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\i18n\defaults-fr_FR.min.js"></script>
		
		<script type="text/javascript">
		
			$(document).ready(function() {
				
				$("#sub").click(function() {
					
					BeginSpin();
					
				});
			 			
			});
		
		</script>
		
</head>
<body>
	
	<div class="container h-100">
		
		<div class="card">
		
			
			<h3 class="card-header  text-center"> <i class="far fa-calculator-alt"></i> Recalcule SOLD </h3>
			<br>
			
			<div class="card-body">
			
					<form id="frm" th:action="@{/recalcule_sold}" method="post" autocomplete="off" enctype="multipart/form-data">
						
						<div class="row">
						
							<div class="col-md-6">
							
								<label>Registre Commerce</label>
								<select class="selectpicker" data-style="btn btn-outline-secondary" data-live-search="true"
									name="rc" id="rc" data-size="5" multiple data-actions-box="true" data-selected-text-format="count">
									
									<!--  
									<option th:each="rc:${rc}" th:value="${rc.code}" th:text="${rc.code}"
												th:object="${rc}" th:if="${#lists.contains(codes, rc.code)}"
												th:attr="data-subtext=${rc.nom}+' '+${rc.prenom}" selected></option> th:unless="${#lists.contains(codes,rc.code)}"
									-->
									<option th:each="rc:${rc}" th:value="${rc.code}" th:text="${rc.code}"
												th:object="${rc}" 
												th:attr="data-subtext=${rc.nom}+' '+${rc.prenom}" ></option>
									
								</select>
							
							</div>
						
						</div>
						
						<br> <!-- ------------------------------------------------------------------------------------------ -->
						
						
						
						<hr>
						
						<div class="d-flex justify-content-center">
						
							<input id="sub" type="submit" class="btn btn-primary" value="Valider">
						
						</div>
						
				</form>
			
			</div>
			
		</div>
		
	</div>
	
</body>
</html>