<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Insert title here</title>
	
	
	<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
	<link rel="stylesheet" href="resources\Plugins\datatable\css\dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="resources\Plugins\jAlert-master\dist\jAlert.css">
	<link rel="stylesheet" href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css">
	<link rel="stylesheet" href="resources\Plugins\bootstrap-select-1.13.7\dist\css\bootstrap-select.min.css"> 
	
	<script type="text/javascript" src="resources\additionalJS\jquery-3.2.1.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\datatable\js\jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="resources\Plugins\datatable\js\dataTables.bootstrap.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
	
	<script type="text/javascript" src="resources\additionalJS\jquery-spin.js"></script>
	<script type="text/javascript" src="resources\additionalJS\drahem.js"></script>
	<script type="text/javascript" src="resources\additionalJS\spin.js"></script>  
	
	<script type="text/javascript" src="resources\PagesJS\vente\facture.js"></script>
	    
	<script type="text/javascript" src="resources\PagesJS\vente\vente_employee.js"></script>
	      
	
	<script type="text/javascript">
	
	$(document).ready(function() {
		
		$("#sub_bt").click(function() {
			
			var wd = 0;
			
			$(".qte").each(function() {
					
				if(parseFloat($(this).val())!=0){
					
					wd = 1;
					
				}
				
			});
			
			if(wd==0){
				
				alert("Veillez Selectioner des produit et leurs quantité !!!")
				
			}
			else{
				
				$("#frm").submit();
				
			}
			
			
		})
		
	});
	
	</script>
	      
	</head>

	<body >
	
	<!-- ---------------------------------------- -->
	
	<script type='text/javascript'> spin_it('on'); </script>
	
	<!-- ---------------------------------------- -->
	
	<div class="container-fluid h-100">
	
		<div class="card">
	
			<h3 class="card-header  text-center">
				<i class="far fa-file-invoice"></i> Bon de Transfert <button type="button" id="sub_bt" class="btn btn-success">Valider</button>
			</h3>
			
			<br>
	
			<div class="card-body">
	
	
				<form id="frm" th:action="@{/new_bon_transfert}" method="post" style="height: 100%" autocomplete="off">
					
					<input type="hidden" id="tva_general" name="tva" value="0.19">
	
	
					<div class="card">
	
	
						<h5 class="card-header "> <i class="far fa-user-alt"></i> Client </h5>
						<br>
	
						<div class="card-body">
						
							<div class="row">
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">Unité Interne </span>
										</div>
										<select class="selectpicker form-control" data-style="btn btn-outline-secondary" data-live-search="true"
											name="unite_interne" id="unite_interne" data-size="5" required>
											
											<option th:each="ui:${unite_interne}" th:value="${ui.id}" 
													th:text="${ui.designation}" 
													th:attr="data-subtext=${ui.code},
													designation=${ui.designation}">
											</option>
											
										</select>
										
									</div>
								</div>
								
							</div>
							
							<hr>
							
							<div class="row">
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">Matricule Chauffeur </span>
										</div>
										<input type="text" id="matricule_chauffeur" class="form-control" name="matricule_chauffeur" required>
										
									</div>
								</div>
								
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">Chauffeur </span>
										</div>
										<input type="text" id="chauffeur" class="form-control" name="chauffeur" required>
										
									</div>
								</div>
								
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">Matricule Vehicule </span>
										</div>
										<input type="text" id="matricule_vehicule" class="form-control" name="matricule_vehicule" required>
										
									</div>
								</div>
								
							</div>
							
						</div>
						
					</div>
					
					<hr>
	
					<table class="table" id="table" width="100%">
						<thead class="thead-dark">
							<tr>
								<th align="center"  width="8%">Art</th>
								<th  align="center" >Libellé</th>
								<th  align="center"  width="8%">Um</th>
								<th  align="center" >Qte</th>
								<th  align="center" >Unité</th>
							</tr>
						</thead>
	
						<tbody>
	
							<tr th:each="i : ${#numbers.sequence( 1, 20, 1)}" th:attr="id='tr'+${i}" >
	
								<td> <input class="form-control nom_art" type="text" value="" id="code_art" readonly> </td>
								
								<td> <select id="art" class="form-control selectpicker art" data-style="btn btn-outline-secondary" data-size="8" data-live-search="true" name="art">
										<option value="0" selected>Selection</option>
										
										<option th:each="art:${articles}" th:value="${art.id}" th:text="${art.libelle}"
										th:attr="code=${art.code}, data-subtext=${art.code}, 
										um=${art.unite_mesure_vente.nom_unite_mesure}, 
										id_um=${art.unite_mesure_vente.id} "></option>
										
									 </select> 
								</td>
								
								<td> <input class="form-control unite_mesure" id="unite_mesure" type="text" value="" style="text-align: center;" readonly> 
										<input type="hidden" id="id_um" name="id_um" value="0" > </td>
								
								<td> <input class="form-control qte zero" id="qte" name="qte" type="number" step="any" value="0" style="text-align: right;" > </td>
								
								<td> 
									<select id="id_magasin" name="id_magasin" class="form-control id_magasin">
										<option value="0" selected>Selection</option>
									</select>	
								</td>
								
							</tr>
	
						</tbody>
	
					</table>
	
				</form>
	
			</div>
		</div>
	
	</div>
	
	<script type='text/javascript'> spin_it('off'); </script>
	
	<div id="error" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i id="icone" class="" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p id="text"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id="fermer" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div id="bl_detail_modal" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered mw-100 w-75" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	      		
	      		<input type="hidden" id="id_facture">
	      		
	      		<div class="col-md-6">
	      			
	      			<div class="input-group">
	      				<div class="input-group-prepend">
	      					<i id="icone_bl" class="far fa-file-invoice" style="font-size:30px;margin-right:10px;" ></i>
	      				</div>	
	      					<h5 id="title_bl" class="modal-title" > </h5>
			        </div>	
	      		</div>
	      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      	
	      </div>
	      
	      <div class="modal-body" >
	         
	         <div id="print_content">
	         
	         	<!-- <iframe id="frame" width="100%" height="100%" onload="ifrhgh()" frameborder="0" src="/new_payment"></iframe> -->
	         
	         </div>
	         
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	      
	    </div>
	  </div>
	</div>
	
	</body>
	
</html>