<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Insert title here</title>
	
	
	<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
	<link rel="stylesheet" href="resources\Plugins\datatable\css\dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="resources\Plugins\jAlert-master\dist\jAlert.css">
	<link rel="stylesheet" href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css">
	<link rel="stylesheet" href="resources\Plugins\bootstrap-select-1.13.7\dist\css\bootstrap-select.min.css"> 
	
	<script type="text/javascript" src="resources\additionalJS\jquery-3.2.1.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\datatable\js\jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="resources\Plugins\datatable\js\dataTables.bootstrap.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
	
	<script type="text/javascript" src="resources\additionalJS\jquery-spin.js"></script>
	<script type="text/javascript" src="resources\additionalJS\drahem.js"></script>
	<script type="text/javascript" src="resources\additionalJS\spin.js"></script>  
	
	    
	<script type="text/javascript" src="resources\PagesJS\vente\facture.js"></script>
	      
	      
	</head>

	<body >
	
	<!-- ---------------------------------------- -->
	
	<script type='text/javascript'> spin_it('on'); </script>
	
	<!-- ---------------------------------------- -->
	
	<div class="container-fluid h-100">
	
		<div class="card">
	
			<h3 class="card-header  text-center">
				<i class="far fa-file-invoice"></i> Commande <button type="button" id="sub" class="btn btn-success">Valider</button>
			</h3>
			
			<br>
	
			<div class="card-body">
	
	
				<form id="frm" th:action="@{/new_commande_post}" method="post" style="height: 100%" autocomplete="off">
					
					<input type="hidden" id="tva_general" name="tva" value="0.19">
	
	
					<div class="card">
	
	
						<h5 class="card-header "> <i class="far fa-user-alt"></i> Client </h5>
						<br>
	
						<div class="card-body">
							<!--  
							<div class="row">
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Client </span>
										</div>
										<select class="form-control selectpicker" data-style="btn btn-outline-secondary" data-live-search="true"
											name="id_client" id="id_client" data-size="5">
											
											<option disabled="disabled" value="" selected>Client</option>
											<option th:each="clt:${clients}" th:value="${clt.id}" th:text="${clt.code}" 
													th:attr="data-subtext=${clt.nom}+' '+${clt.prenom}, code_clt=${clt.code}"></option>
	
										</select>
										
										  <input type="hidden" id="id_client" name="id_client" value="">  
									</div>
								</div>
								<input type="hidden" class="form-control" id="lib_client"
									name="lib_client" value="">
	
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration">Désignation</span>
										</div>
										<input type="text" name="designation" id="designation"
											class="form-control " readonly="readonly">
	
									</div>
								</div>
	
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Adresse </span>
										</div>
										<input type="text" class="form-control " name="adresse"
											id="adresse" value="" readonly="readonly">
									</div>
								</div>
	
							</div>
	
							<br>
	
							<div class="row">
								<div class="col-md-6 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Solde </span>
										</div>
										<input type="text" class="form-control " name="solde"
											id="solde" value="" readonly="readonly">
									</div>
								</div>
								<div class="col-md-6 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Max Solde </span>
										</div>
										<input type="text" class="form-control " name="max_solde"
											id="max_solde" value="0" readonly="readonly">
									</div>
								</div>
	
							</div>
	
							<br>
							-->
							
	
							<div class="row">
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">RC </span>
										</div>
										<select class="selectpicker form-control" data-style="btn btn-outline-secondary" data-live-search="true"
											name="id_rel_rc_clt" id="rc" data-size="5">
											<option  disabled value="" selected>Registre Commerce</option>
											
											<option th:each="rc_clt:${rcs_clt}" th:value="${rc_clt.id}" th:text="${rc_clt.registre_commerce.code}" 
													th:attr="data-subtext=${rc_clt.registre_commerce.nom}+' '+${rc_clt.registre_commerce.prenom},
													code_clt=${rc_clt.registre_commerce.code}, nom=${rc_clt.registre_commerce.nom}, 
													prenom=${rc_clt.registre_commerce.prenom}, sold=${rc_clt.registre_commerce.sold_encours}, 
													plafond=${rc_clt.registre_commerce.plafond}, tva=${rc_clt.registre_commerce.tva},
													adresse=${rc_clt.registre_commerce.adresse}, mode_pay=${rc_clt.registre_commerce.mode_paiement.id}">
											</option>
											
										</select>
										
										<input type="hidden" id="tv">
										
									</div>
								</div>
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration">Désignation</span>
										</div>
										<input type="text" name="designation_rc" id="designation_rc" class="form-control " readonly="readonly">
	
									</div>
								</div>
	
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Adresse </span>
										</div>
										<input type="text" class="form-control " name="adresse_rc"
											id="adresse_rc" value="" readonly="readonly">
									</div>
								</div>
	
							</div>
	
							<br>
	
							<div class="row">
								<div class="col-md-5 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Solde </span>
										</div>
										<input type="text" class="form-control " name="solde_rc"
											id="solde_rc" value="" readonly="readonly">
									</div>
								</div>
								<div class="col-md-5 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Max Solde </span>
										</div>
										<input type="text" class="form-control " name="max_solde_rc"
											id="max_solde_rc" value="0" readonly="readonly">
									</div>
								</div>
								<div class="col-md-2 column">
								
									<h5>Exonération <span class="badge badge-secondary" id="exo"></span></h5>
									
								</div>
							</div>
	
							<hr>
							
							<div class="row">
	
								<div class="col-md-6 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">Mode règelment </span>
										</div>
										<select class="form-control " name="mode_reg" id="mode_reg" >
											
											<option disabled="disabled" value="" selected>Mode règelment</option>
											<option th:each="mode_r:${mode_paiements}" th:value="${mode_r.id}" th:text="${mode_r.designation}"></option>
	
										</select>
									</div>
								</div>
	
								<div class="col-md-6 column">
									
									<div class="row">
										
										<div class="col-md-1">
										
											<div id="loading" class="spinner-grow" role="status">
											  <span class="sr-only">Loading...</span>
											</div>
										
										</div>
										
										<div class="col-md-11">
											
											<select class="selectpicker form-control" data-style="btn btn-outline-secondary" data-live-search="true"
												name="matricule" id="matricule" data-size="5">
												<option  value="" selected>Matricule</option>
												<option  th:each="mat : ${matricule}" th:value="${mat}" th:text="${mat}"></option>
												
											</select>
											
											<!--  
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text declaration"
														style="min-width: 130px; text-align: left;">Matricule</span>
												</div>
												<input type="text" class="form-control mouve" name="matricule" id="matricule" value="" t="mode_reg" l="mode_reg"
													b="1_lib_art" r="1_lib_art" next="1_lib_art" required placeholder="xxxxxx-xxx-xx"> <input type="hidden"
													id="c_type_cl" value="0">
											</div>
											-->
										</div>
										
									</div>
									
								</div>
	
							</div>
	
							<hr>
							
							<div class="row">
							
								<div class="col-md-7 ">
									
									<div class="input-group">
						
										<h5>Réduction sur les articles :</h5><h5 id="redux">  </h5>
									
									</div>
									
								</div>
								
								<div class="col-md-4 offset-md-1">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration" style="min-width: 106px; text-align: left;"> Montant HT </span>
										</div>
										<input type="hidden" id="total_ht_hidden" value="0">
										<input type="text" class="form-control " name="total_ht" style="text-align: right;" id="total_ht" value="0" readonly="readonly">
									</div>
								</div>
							
							</div>
							
							<div class="row">
							
								<div class="col-md-4 offset-md-8">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration" style="min-width: 106px; text-align: left;"> Réduction (%) </span>
										</div>
										<input type="number" step="any" class="form-control zero" name="pourc_reduction" style="text-align: right;" id="pourc_redux" value="0" >
									</div>
								</div>
							
							</div>
							
							<div class="row">
							
								<div class="col-md-4 offset-md-8">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration" style="min-width: 106px; text-align: left;"> Montant HT Avec Réduction </span>
										</div>
										<input type="text" step="any" class="form-control " name="total_ht" style="text-align: right;" id="total_ht_redux" value="0" readonly="readonly">
									</div>
								</div>
							
							</div>
							<hr>
							<div class="row">
								
								<div class="col-md-4 offset-md-8">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration">Montant TVA</span>
										</div>
										<input type="hidden" id="total_tva_hidden" value="0">
										<input type="text" class="form-control " name="total_tva" style="text-align: right;" id="total_tva" value="0" readonly="readonly">
									</div>
								</div>
							
							</div>
							
							<div class="row">
								
								<div class="col-md-4 offset-md-8">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration">Montant TTC </span>
										</div>
										<input type="text" class="form-control " name="total_ttc" style="text-align: right;" id="total_ttc" value="0" readonly="readonly">
									</div>
								</div>
	
							</div>
							
						</div>
					</div>
					
					<hr>
	
					<table class="table" id="table" width="100%">
						<thead class="thead-dark">
							<tr>
								<th align="center"  width="8%">Art</th>
								<th  align="center" >Libellé</th>
								<th  align="center"  width="8%">Um</th>
								<th  align="center" >Qte</th>
								<th  align="center" >Unité</th>
								<th  align="center" >PU</th>
								<th  align="center" >TVA</th>
								<th  align="center" >MONTANT HT</th>
							</tr>
						</thead>
	
						<tbody>
	
							<tr th:each="i : ${#numbers.sequence( 1, 10, 1)}" th:attr="id='tr'+${i}" >
	
								<td> <input class="form-control nom_art" type="text" value="" id="code_art" readonly> </td>
								
								<td> <select id="art" class="form-control selectpicker art" data-style="btn btn-outline-secondary" data-size="8" data-live-search="true" name="">
										<option value="" selected>Selection</option>
									 </select> 
								</td>
								
								<td> <input class="form-control unite_mesure" id="unite_mesure" type="text" value="" style="text-align: center;" readonly> 
										<input type="hidden" id="id_um" name="id_um" value="0" > </td>
								
								<td> <input class="form-control qte zero" id="qte" name="qte" type="number" step="any" value="" style="text-align: right;" readonly> </td>
								
								<td> 
									<select id="id_magasin" name="id_magasin" class="form-control id_magasin">
										
									</select>	
								</td>
								
								<td><input class="form-control prix_unitaire" id="prix_unitaire" name="prix_unitaire" type="number" step="any" style="text-align: right;" readonly> </td>
								
								<td><input class="form-control tva" id="tva_art" name="tva_art" type="number" step="any" value="" style="text-align: right;" readonly> </td>
								
								<td><input class="form-control montant_ht" id="montant_ht" name="montant_ht_art" type="text" style="text-align: right;" readonly> </td>
	
							</tr>
	
						</tbody>
	
					</table>
	
				</form>
	
			</div>
		</div>
	
	</div>
	
	<script type='text/javascript'> spin_it('off'); </script>
	
	<div id="error" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i id="icone" class="" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p id="text"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id="fermer" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div id="bl_detail_modal" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered mw-100 w-75" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	      		
	      		<input type="hidden" id="id_facture">
	      		
	      		<div class="col-md-6">
	      			
	      			<div class="input-group">
	      				<div class="input-group-prepend">
	      					<i id="icone_bl" class="far fa-file-invoice" style="font-size:30px;margin-right:10px;" ></i>
	      				</div>	
	      					<h5 id="title_bl" class="modal-title" > </h5>
			        </div>	
	      		</div>
	      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      	
	      </div>
	      
	      <div class="modal-body" >
	         
	         <div id="print_content">
	         
	         	<!-- <iframe id="frame" width="100%" height="100%" onload="ifrhgh()" frameborder="0" src="/new_payment"></iframe> -->
	         
	         </div>
	         
	      </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	      
	    </div>
	  </div>
	</div>
	
	</body>
	
</html>