<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Insert title here</title>
	
	
	<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
	<link rel="stylesheet" href="resources\Plugins\datatable\css\dataTables.bootstrap.min.css">
	<link href="resources\Plugins\jAlert-master\dist\jAlert.css" rel="stylesheet">
	<link href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css" rel="stylesheet">
	<link href="resources\Plugins\bootstrap-select-1.13.7\dist\css\bootstrap-select.min.css" rel="stylesheet"> 
	
	<script type="text/javascript" src="resources\additionalJS\jquery-3.2.1.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\datatable\js\jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="resources\Plugins\datatable\js\dataTables.bootstrap.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
	
	<script type="text/javascript" src="resources\additionalJS\jquery-spin.js"></script>
	<script type="text/javascript" src="resources\additionalJS\drahem.js"></script>
	<script type="text/javascript" src="resources\additionalJS\spin.js"></script>  
	
	<script type="text/javascript" src="resources\PagesJS\vente\facture.js"></script>
	    
	<script type="text/javascript">
	
	$(document).ready(function() {
		
			console.log($("#plafond").val());	
		
			if($("#plafond").val()=="true"){
				
				$("#title").text("Erreur !!!");
				$("#icone").attr("class","far fa-exclamation-triangle");
				$("#text").html("Plafond dépassée !!! ");
				$("#error").modal('show');
				
			}
			
			$("#subsub").click(function () {
				
				$("#frm").submit();
				
			});
			
		
	});
	
	</script>
	      
	      
	</head>

	<body >
	
	<!-- ---------------------------------------- -->
	
	<script type='text/javascript'> spin_it('on'); </script>
	
	<!-- ---------------------------------------- -->
	
	<div class="container-fluid h-100">
	
		<div class="card">
			
			<div class="card-body">
			
			<form id="frm" th:action="@{/edit_bl_post}" method="post" style="height: 100%" autocomplete="off">
			
					<div class="card" >
						
						<input type="hidden" id="plafond"  th:value="${plafond}">
						
						<input type="hidden" id="id_bl" name="id_bl" th:value="${bl.id}">
						
						<input type="hidden" id="rc" name="id_rc_clt" th:value="${bl.commande.client_registrecommerce.id}">
						
						<h5 class="card-header "> <i class="far fa-user-alt"></i> Client </h5>
						<br>
	
						<div class="card-body">
							
							<div class="row">
							
								<div class="col-md-4 offset-md-8">
								
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="text-align: right;"> <i class="far fa-calendar-alt"></i> </span>
										</div>
										<input type="text" class="form-control" id="date" name="date" th:value="${bl.date}" disabled>
	
									</div>
									
								</div>
							
							</div>
							<br>
							<div class="row">
	
								<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Code </span>
										</div>
										<input type="text" class="form-control  code_client"
											name="code_client" id="code_client" th:value="${bl.client.code}" disabled>
	
									</div>
								</div>
								<input type="hidden" class="form-control" id="lib_client"
									name="lib_client" value="">
	
	
								<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration">Désignation</span>
										</div>
										<input type="text" name="designation" id="designation" class="form-control " 
												th:value="${bl.client.nom}+' '+${bl.client.prenom}" disabled>
	
									</div>
								</div>
	
	
								<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Adresse </span>
										</div>
										<input type="text" class="form-control " name="adresse"
											id="adresse" th:value="${bl.client.adresse}" disabled>
									</div>
								</div>
	
							</div>
	
							<hr>
	
							<div class="row">
	
								<div class="col-md-6">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">Mode règelment </span>
										</div>
										<input type="text" class="form-control " name="mode_reg" id="mode_reg"
											th:value="${bl.client.adresse}"  disabled>
										
									</div>
								</div>
	
								<div class="col-md-6 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">Matricule</span>
										</div>
										
										<input type="text" class="form-control" name="matricule" id="matricule" 
												th:value="${bl.matricule}"  placeholder="xxxxxx-xxx-xx"> 
											
									</div>
								</div>
	
							</div>
	
							<hr>
	
							<div class="row">
	
								<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">RC </span>
										</div>
										
										<input type="text" class="form-control" name="num_rc" id="num_rc" th:value="${bl.registre_commerce.numero_rc}" disabled > 
										
									</div>
								</div>
	
								<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration">Désignation</span>
										</div>
										<input type="text" name="designation_rc" id="designation_rc" class="form-control" 
														th:value="${bl.registre_commerce.nom}+' '+${bl.registre_commerce.prenom}" disabled>
	
									</div>
								</div>
	
	
								<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Adresse </span>
										</div>
										<input type="text" class="form-control " name="adresse_rc"
											id="adresse_rc" th:value="${bl.registre_commerce.adresse}" disabled>
									</div>
								</div>
	
							</div>
	
							<hr>
							
							<div class="col-md-4 offset-md-8">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text declaration" style="min-width: 106px; text-align: left;"> Montant HT </span>
									</div>
									<input type="text" class="form-control " name="total_ht" style="text-align: right;" id="total_ht" 
										th:value="${#numbers.formatDecimal(bl.montant_ht, 3, 'WHITESPACE', 2,'POINT')}" readonly>
								</div>
							</div>
	
							<div class="col-md-4 offset-md-8">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text declaration" style="min-width: 106px; text-align: left;"> Réduction (%) </span>
									</div>
									<input type="number" step="any" class="form-control zero" name="pourc_reduction" style="text-align: right;" 
										id="pourc_redux" th:value="${bl.commande.pourcentage_reduction}" disabled>
								</div>
							</div>
							
							<div class="col-md-4 offset-md-8">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text declaration">Montant TVA</span>
									</div>
									<input type="text" class="form-control " name="total_tva" style="text-align: right;" id="total_tva" 
										th:value="${#numbers.formatDecimal(bl.tva, 3, 'WHITESPACE', 2,'POINT')}" readonly>
								</div>
							</div>
	
	
							<div class="col-md-4 offset-md-8">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text declaration">Montant TTC </span>
									</div>
									<input type="text" class="form-control " name="total_ttc" style="text-align: right;" id="total_ttc" 
										th:value="${#numbers.formatDecimal(bl.montant_ttc, 3, 'WHITESPACE', 2,'POINT')}" readonly>
										
								</div>
							</div>
	
	
						</div>
					</div>
	
					<hr />
	
	
					<table class="table" id="table" >
						<thead class="thead-dark">
							<tr>
								<th align="center"  width="8%">Art</th>
								<th  align="center" >Libellé</th>
								<th  align="center"  width="8%">Um</th>
								<th  align="center" >Qte</th>
								<th  align="center" >Unité</th>
								<th  align="center" >PU</th>
								<th  align="center" >TVA</th>
								<th  align="center" >MONTANT HT</th>
							</tr>
						</thead>
	
						<tbody >
	
							<tr th:each="bl_det:${detail_bl}" >
								
								
								
								<td> <input class="form-control nom_art" type="text" th:value="${bl_det.article.code}" id="code_art" disabled>
									
									<input type="hidden" id="id_bl_detail" name="id_bl_detail" th:value="${bl_det.id}">
									
								 </td>
								
								<td> 
									<select id="art" class="form-control selectpicker art" data-style="btn btn-outline-secondary" data-size="8" data-live-search="true" name="art">
										<option value="">Selection</option>
										<option th:each="art:${articles}" th:value="${art.article.id}" th:attr="code=${art.article.code}, 
												 data-subtext=${art.article.code}, um=${art.article.unite_mesure_vente.nom_unite_mesure}, pu=${art.prix},
												 tva=${art.tva.taux_tva}, id_um=${art.article.unite_mesure_vente.id}" 
												 th:text="${art.article.libelle}" th:if="${art.article.id}==${bl_det.article.id}" selected></option>
												 
										<option th:each="art:${articles}" th:value="${art.article.id}" th:attr="code=${art.article.code}, 
												 data-subtext=${art.article.code}, um=${art.article.unite_mesure_vente.nom_unite_mesure}, pu=${art.prix},
												 tva=${art.tva.taux_tva}, id_um=${art.article.unite_mesure_vente.id}" 
												 th:text="${art.article.libelle}" th:unless="${art.article.id}==${bl_det.article.id}" ></option>
									 </select> 
								</td>
								
								<td> <input class="form-control unite_mesure" id="unite_mesure" type="text" value="" style="text-align: center;"
												th:value="${bl_det.unite_mesure.nom_unite_mesure}" disabled> 
									 <input type="hidden" id="id_um" name="id_um" th:value="${bl_det.unite_mesure.id}" >		
								</td>
								
								<td> <input class="form-control qte zero" id="qte" name="qte" type="number" step="any" th:value="${bl_det.quantite}" style="text-align: right;" > 
										<input type="hidden" id="qte_init" class="qte_init" th:value="${bl_det.quantite}"> </td>
									
								<td> 
										<select class="form-control id_magasin" id="id_magasin" name="id_magasin" >
										<option value="">Selection</option>
										
										<option  th:value="${bl_det.magasin.id}" th:text="${bl_det.magasin.name}"  selected></option>
										
									 </select> 
										<!--   <input class="form-control qte zero" id="magasin" name="magasin" type="text" th:value="${bl_det.magasin.name}" style="text-align: center;" disabled> 
										<input type="hidden" id="id_magasin" class="id_magasin" name="id_magasin" th:value="${bl_det.magasin.id}"> </td>
										-->
								<td><input class="form-control prix_unitaire" id="prix_unitaire" name="prix_unitaire" th:value="${bl_det.prix_u_ht}" type="number" step="any" style="text-align: right;" readonly> </td>
								
								<td><input class="form-control tva_art" id="tva_art" name="tva_art" type="number" th:value="${bl_det.tva}" step="any" value="" style="text-align: right;" readonly> </td>
								
								<td><input class="form-control montant_ht" id="montant_ht" name="montant_ht_art" th:value="${#numbers.formatDecimal(bl_det.montant_ht, 3, 'WHITESPACE', 2,'POINT')}" type="text" style="text-align: right;" readonly> </td>
	
							</tr>
							
							<tr th:each="i : ${#numbers.sequence( 1, 7, 1)}" th:attr="id='tr'+${i}" >
							
								<td> <input class="form-control nom_art" type="text" value="" id="code_art" readonly> </td>
								
								<td> 
									<select id="art" class="form-control selectpicker art" data-style="btn btn-outline-secondary" data-size="8" data-live-search="true" name="art">
										<option value="0">Selection</option>
												 
										<option th:each="art:${articles}" th:value="${art.article.id}" th:attr="code=${art.article.code}, 
												 data-subtext=${art.article.code}, um=${art.article.unite_mesure_vente.nom_unite_mesure}, pu=${art.prix},
												 tva=${art.tva.taux_tva}, id_um=${art.article.unite_mesure_vente.id}" 
												 th:text="${art.article.produit.designation}+' '+${art.article.emballage_produit.nom_emballage}+' '+
												 ${art.article.pesage_produit.pesage}" ></option>
									 </select> 
								</td>
								
								<td> <input class="form-control unite_mesure" id="unite_mesure" type="text" value="" style="text-align: center;" readonly> 
										<input type="hidden" id="id_um" name="id_um" value="0" > </td>
								
								<td> <input class="form-control qte zero" id="qte" name="qte" type="number" step="any" value="0" style="text-align: right;"> </td>
								
								<td> 
									<select id="id_magasin" name="id_magasin" class="form-control id_magasin">
										
									</select>	
								</td>
								
								<td><input class="form-control prix_unitaire" id="prix_unitaire" name="prix_unitaire" type="number" step="any" style="text-align: right;" value="0" readonly> </td>
								
								<td><input class="form-control tva" id="tva_art" name="tva_art" type="number" step="any" style="text-align: right;" value="0" readonly> </td>
								
								<td><input class="form-control montant_ht" id="montant_ht" name="montant_ht_art" type="text" style="text-align: right;" value="0" readonly> </td>
							
							</tr>
							
						</tbody>
	
					</table>
					
					<hr>
					
					<div class="d-flex justify-content-center">
						
						<button type="button" id="subsub" class="btn btn-success">Valider</button>
					
					</div>
		
			</form>
			
			</div>
		</div>
	
	</div>
	
	<script type='text/javascript'> spin_it('off'); </script>
	
	<div id="error" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i id="icone" class="" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p id="text"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id="fermer" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	</body>
	
</html>