<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Insert title here</title>
	
	
	<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
	<link rel="stylesheet" href="resources\Plugins\datatable\css\dataTables.bootstrap.min.css">
	<link href="resources\Plugins\jAlert-master\dist\jAlert.css" rel="stylesheet">
	<link href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css" rel="stylesheet">
	<link href="resources\Plugins\bootstrap-select-1.13.7\dist\css\bootstrap-select.min.css" rel="stylesheet"> 
	
	<script type="text/javascript" src="resources\additionalJS\jquery-3.2.1.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\datatable\js\jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="resources\Plugins\datatable\js\dataTables.bootstrap.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
	
	<script type="text/javascript" src="resources\additionalJS\jquery-spin.js"></script>
	<script type="text/javascript" src="resources\additionalJS\drahem.js"></script>
	<script type="text/javascript" src="resources\additionalJS\spin.js"></script>  
	
	<script type="text/javascript" src="resources\PagesJS\vente\facture.js"></script>
	
	<script type="text/javascript" src="resources\additionalJS\CheckConnectionServer.js"></script>
	
	<script type="text/javascript">
	
	$(document).ready(function() {
		
			console.log($("#plafond").val());	
			var rcCategoryId = $("#rc_category_id").val();
			if(rcCategoryId){
				window.rcCategoryId = rcCategoryId.toString();
			}
			
			if($("#plafond").val()=="true"){
				
				$("#title").text("Erreur !!!");
				$("#icone").attr("class","far fa-exclamation-triangle");
				$("#text").html("Plafond dépassée !!! ");
				$("#error").modal('show');
				
			}
			
			$("#subsub").click(function () {
				if(typeof hasBlockingAlerts === 'function' && hasBlockingAlerts()){
					if(typeof showCommandeValidationBlockedAlert === 'function'){
						showCommandeValidationBlockedAlert();
					}
					return;
				}
				
				var art_selected = [];
				
				$(".art").each(function() {
					
					if($(this).val() == "" || $(this).val() == "0"){}
					else{
						
						art_selected.push($(this).val());
						
					}
					
				});
				
				console.log(art_selected)
				
				var test = 0;
				
				var msg = "";
				
				if(if_duplicate_value(art_selected)==true){
					
					test++;
					msg = msg+"<b>- Article Dupliqué. </b><br>";
					$("#code_client").css("border-color","red");
					
				}
				
				if($("#matricule").val()=="" ){
					
					test++;
					msg = msg+"<b>- Matricule Vide. </b><br>";
					$("#matricule").css("border-color","red");
					
				}
				
				if(test==0){
					
					$(this).attr("disabled", true);
					
					$("#frm").submit();
				
				}
				else{
					
					$("#title").text("Erreur !!!");
					$("#icone").attr("class","far fa-exclamation-triangle");
					$("#text").html(msg);
					$("#error").modal('show');
					
				}
				
			});
			
			initializeExistingArticles();
			
		
	});
	
	function if_duplicate_value (arr){
		
		for(i=0;i<arr.length-1;i++){
			
			for(j=i+1;j<arr.length;j++){
				
				if(arr[i]==arr[j]){
					
					return true;
					
				}
				
			}
			
		}
		
		return false;
		
	}

	function initializeExistingArticles(){
		$(".art").each(function(){
			var select = $(this);
			var rowId = select.attr("id_tr");
			var articleId = select.val();
			if(!rowId || !articleId || articleId == "0"){
				return;
			}
			var rowElement = $("#"+rowId);
			if(rowElement.length){
				var initialQtyInput = rowElement.find(".qte_init");
				var parsedQty = initialQtyInput.length ? parseFloat(initialQtyInput.val()) : 0;
				var initialQty = (isFinite(parsedQty) && parsedQty > 0) ? parsedQty : 0;
				rowElement.data("initial-quantity", initialQty);
				rowElement.data("initial-article", articleId);
				var initialCategory = $('option:selected', select).attr('data-category-id');
				rowElement.data("initial-category", initialCategory);
				rowElement.data("is-edit-baseline", true);
			}
			if(typeof clearAlertsForRow === 'function'){
				clearAlertsForRow(rowId);
			}
			var venteBaseStock = $('option:selected', select).attr('data-vente-stock') === 'true';
			var categoryId = $('option:selected', select).attr('data-category-id');
			$("#"+rowId).data("vente-base-stock", venteBaseStock ? 'true' : 'false');
			$("#"+rowId).data("selected-article", articleId);
			if(typeof registerRowCategory === 'function'){
				registerRowCategory(rowId, categoryId);
			}
			if(typeof fetchStockJournalier === 'function'){
				fetchStockJournalier(articleId, rowId);
			}
			if(typeof fetchCategorySoldQuantity === 'function'){
				fetchCategorySoldQuantity(categoryId, venteBaseStock, rowId);
			}
		});
		setTimeout(function(){
			$(".qte").each(function(){
				if(typeof enforceCategoryLimit === 'function'){
					enforceCategoryLimit(this);
				}
			});
		}, 350);
	}
	
	</script>
	      
	      
		<link rel="stylesheet" href="resources\additionalCSS\app-theme.css?v=20260902c">
		<script src="resources\additionalJS\app-theme.js?v=20260902c"></script>
	</head>

	<body >
	
	<!-- ---------------------------------------- -->
	
	<script type='text/javascript'> spin_it('on'); </script>
	
	<!-- ---------------------------------------- -->
	<br>
	<div class="container-fluid h-100">
	
		<div class="card">
			
			<div class="card-body">
			
			<form id="frm" th:action="@{/edit_blf_post}" method="post" style="height: 100%" autocomplete="off">
			<input type="hidden" id="remise_fact"  th:value="true">
													

					<div class="card" >
						
					<input type="hidden" id="id_blf" name="id_blf" th:value="${blf.id}">
					<input type="hidden" id="rc_category_id" th:value="${blf.registre_commerce.category.id}">
						
						<h5 class="card-header "> <i class="far fa-user-alt"></i> Client </h5>
						<br>
	
						<div class="card-body">
							
							<div class="row">
							
								<div class="col-md-4 offset-md-8">
								
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="text-align: right;"> <i class="far fa-calendar-alt"></i> </span>
										</div>
										<input type="date" class="form-control" id="date" name="date" th:value="${date_blf}" >
	
									</div>
									
								</div>
							
							</div>
							<br>
							
							<div class="row">
	
								<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">Mode règelment </span>
										</div>
										<input type="text" class="form-control " name="mode_reg" id="mode_reg"
											th:value="${blf.client.adresse}"  disabled>
										
									</div>
								</div>
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">Matricule</span>
										</div>
										
										<input type="text" class="form-control" name="matricule" id="matricule" 
												th:value="${blf.matricule}"  placeholder="xxxxxx-xxx-xx"> 
											
									</div>
								</div>
								
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">Chauffeur</span>
										</div>
										
										<input type="text" class="form-control" name="chauffeur" id="chauffeur" 
												th:value="${blf.chauffeur}"  > 
											
									</div>
								</div>
	
							</div>
	
							<hr>
	
							<div class="row">
	
								<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">RC </span>
										</div>
										
										<input type="text" class="form-control" name="num_rc" id="num_rc" 
											th:value="${blf.registre_commerce.numero_rc}" disabled > 
										
									</div>
								</div>
	
								<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration">Désignation</span>
										</div>
										<input type="text" name="designation_rc" id="designation_rc" class="form-control" 
														th:value="${blf.registre_commerce.nom}+' '+${blf.registre_commerce.prenom}" disabled>
	
									</div>
								</div>
	
	
								<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Adresse </span>
										</div>
										<input type="text" class="form-control " name="adresse_rc"
											id="adresse_rc" th:value="${blf.registre_commerce.adresse}" disabled>
									</div>
								</div>
	
							</div>
	
							<hr>
							
							<div class="col-md-4 offset-md-8">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text declaration" style="min-width: 106px; text-align: left;"> Total HT </span>
									</div>
									<input type="text" class="form-control " name="total_ht" style="text-align: right;" id="total_ht" 
										th:value="${#numbers.formatDecimal(blf.montant_ht, 3, 'WHITESPACE', 2,'POINT')}" readonly>
								</div>
							</div>
							
							<div class="col-md-4 offset-md-8">
								<div class="input-group">
										<span class="input-group-text declaration" style="text-align: left;">
										 Remise (%) </span>
									<input type="number" step="any" class="form-control zero remise_zero" name="pourc_reduction" 
										style="text-align: right;" id="pourc_redux" th:value="${#numbers.formatDecimal(blf.pourcentage_remise, 1, 'WHITESPACE', 2,'POINT')}" >
								
								
								
									<input type="text" class="form-control zero remise_zero" name="montant_reduction" 
										style="text-align: right;" id="mnt_redux"  th:value="${#numbers.formatDecimal(blf.montant_remise, 1, 'WHITESPACE', 2,'POINT')}" >
									
									<span class="input-group-text declaration" 
													style="min-width: 106px; text-align: left;"> Remise (Val) </span>
											
										
								</div>
							</div>
							
							<div class="col-md-4 offset-md-8">
										
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text declaration" style="min-width: 106px; text-align: left;">
										 Total HT Net </span>
									</div>
									<input type="text" class="form-control remise_zero" name="total_ht_net" style="text-align: right;" 
										id="total_ht_net" th:value="${#numbers.formatDecimal(blf.montant_ht_net, 3, 'WHITESPACE', 2,'POINT')}" 
										readonly="readonly">
								</div>
							
							</div>
							
							<div class="col-md-4 offset-md-8">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text declaration">Total TVA</span>
									</div>
									<input type="text" class="form-control " name="total_tva" style="text-align: right;" id="total_tva" 
										th:value="${#numbers.formatDecimal(blf.montant_tva, 3, 'WHITESPACE', 2,'POINT')}" readonly>
								</div>
							</div>
	
	
							<div class="col-md-4 offset-md-8">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text declaration">Total TTC </span>
									</div>
									<input type="text" class="form-control " name="total_ttc" style="text-align: right;" id="total_ttc" 
										th:value="${#numbers.formatDecimal(blf.montant_ttc, 3, 'WHITESPACE', 2,'POINT')}" readonly>
										
								</div>
							</div>
	
	
						</div>
					</div>
	
					<hr />
	
	
					<table class="table" id="table" >
						<thead class="thead-dark">
							<tr>
								<th  align="center" >Art</th>
								<th  align="center" >Libellé</th>
								<th  align="center" >Um</th>
								<th  align="center" >Qte</th>
								<th  align="center" >Unité</th>
								<th  align="center" >PU</th>
								<th  align="center" >MONTANT HT</th>
								<th  align="center" >Remise ( Val / % )</th>
								<th  align="center" >Montant NET HT</th>
								<th  align="center" >TVA (%)</th>
								<th  align="center" >Montant TVA</th>
								<th  align="center" >Montant TTC</th>
							</tr>
						</thead>
	
						<tbody th:with="id_tr=${#lists.size(detail_bl)}">
	
							<tr th:each="blf_det, i:${detail_bl}" th:attr="id='tr'+${i.index}">
								
								
								
								<td> <input class="form-control nom_art" type="text" th:value="${blf_det.article.code}" id="code_art" disabled>
									
									<input type="hidden" id="id_bl_detail" name="id_bl_detail" th:value="${blf_det.id}">
									
								 </td>
								
								<td> 
									<select id="art" class="form-control selectpicker art" data-style="btn btn-outline-secondary" data-size="8" 
										data-live-search="true" name="art" th:attr="id_tr='tr'+${i.index}">
										
										<option value="0"  id_um="0" pu="0" tva="0" data-vente-stock="false">Selection</option>
										<option th:each="art : ${articles}"
											th:value="${art.article.id}"
											th:attr="code=${art.article.code},
												data-subtext=${art.article.code},
												um=${art.article.unite_mesure_vente.nom_unite_mesure},
												pu=${art.prix},
												tva=${art.tva.taux_tva},
												id_um=${art.article.unite_mesure_vente.id},
												data-vente-stock=${art.article.produit.sous_category_produit.category_produit.venteBaseStock},
												data-category-id=${art.article.produit.sous_category_produit.category_produit.id}"
											th:text="${art.article.libelle}"
											th:selected="${art.article.id}==${blf_det.article.id}"></option>
									 </select> 
								</td>
								
								<td> <input class="form-control unite_mesure" id="unite_mesure" type="text" value="" style="text-align: center;"
												th:value="${blf_det.unite_mesure.nom_unite_mesure}" disabled> 
									 <input type="hidden" id="id_um" name="id_um" th:value="${blf_det.unite_mesure.id}" >		
								</td>
								
								<td> <input class="form-control qte zero" id="qte" name="qte" type="number" step="any" th:value="${blf_det.quantite}" style="text-align: right;" > 
										<input type="hidden" id="qte_init" class="qte_init" th:value="${blf_det.quantite}"> </td>
									
								<td> 
									<select class="form-control id_magasin" id="id_magasin" name="id_magasin" >
										
										<option th:each="mags:${mags}" th:value="${mags.id}" th:text="${mags.name}" th:if="${mags.id} != ${blf_det.magasin.id}"></option>
										<option  th:value="${blf_det.magasin.id}" th:text="${blf_det.magasin.name}"  selected></option>
										
									 </select> 
										<!--   <input class="form-control qte zero" id="magasin" name="magasin" type="text" th:value="${bl_det.magasin.name}" style="text-align: center;" disabled> 
										<input type="hidden" id="id_magasin" class="id_magasin" name="id_magasin" th:value="${bl_det.magasin.id}"> </td>
										-->
								<td><input class="form-control prix_unitaire" id="prix_unitaire" name="prix_unitaire" 
									th:value="${blf_det.prix_u_ht}" type="number" step="any" style="text-align: right;" readonly> </td>
								
								<td><input class="form-control montant_ht" id="montant_ht" name="montant_ht_art" 
									th:value="${#numbers.formatDecimal(blf_det.montant_ht, 3, 'WHITESPACE', 2,'POINT')}" type="text" 
										style="text-align: right;" readonly> </td>
								
								<td>
									<div class="input-group">
										<input class="form-control redux_art_val zero remise_zero" id="redux_art_val" name="montant_redux_art_val" type="number" 
											step="any" style="text-align: left;" placeholder="Val" th:value="${blf_det.montant_remise}">
										<input class="form-control redux_art_pourc zero remise_zero" id="redux_art_pourc" name="montant_redux_art_pourc" 
											type="number" step="any" style="text-align: right;" placeholder="%" th:value="${#numbers.formatDecimal(blf_det.pourcentage_remise, 1, 'WHITESPACE', 2,'POINT')}">  
									</div>
								</td>
								
								<td><input class="form-control montant_net_ht remise_zero" id="montant_net_ht" name="montant_net_ht_art" type="text" 
									style="text-align: right;" th:value="${#numbers.formatDecimal(blf_det.montant_ht_net, 3, 'WHITESPACE', 2,'POINT')}" readonly> </td>	
										
								<td><input class="form-control tva_art" id="tva_art" name="tva_art" type="number" 
									th:value="${blf_det.tva}" step="any" value="" style="text-align: right;" readonly> </td>
									
								<td><input class="form-control montant_tva remise_zero" id="montant_tva" name="montant_tva_art" type="text" 
									 th:value="${#numbers.formatDecimal(blf_det.montant_tva, 3, 'WHITESPACE', 2,'POINT')}" style="text-align: right;" readonly> </td>
									
								<td><input class="form-control montant_ttc remise_zero" id="montant_ttc" name="montant_ttc_art" type="text" 
									 th:value="${#numbers.formatDecimal(blf_det.montant_ttc, 3, 'WHITESPACE', 2,'POINT')}"	style="text-align: right;" readonly> </td>				
	
							</tr>
							<!--  
							<tr th:each="i : ${#numbers.sequence( 1, 7, 1)}" th:attr="id='tr'+${i}" >
							
								<td> <input class="form-control nom_art" type="text" value="" id="code_art" readonly> </td>
								
								<td> 
									<select id="art" class="form-control selectpicker art" data-style="btn btn-outline-secondary" data-size="8" data-live-search="true" name="art">
										<option value="0" id_um="0" pu="0" tva="0" >Selection</option>
												 
										<option th:each="art:${articles}" th:value="${art.article.id}" th:attr="code=${art.article.code}, 
												 data-subtext=${art.article.code}, um=${art.article.unite_mesure_vente.nom_unite_mesure}, pu=${art.prix},
												 tva=${art.tva.taux_tva}, id_um=${art.article.unite_mesure_vente.id}" 
												 th:text="${art.article.produit.designation}+' '+${art.article.emballage_produit.nom_emballage}+' '+
												 ${art.article.pesage_produit.pesage}" ></option>
									 </select> 
								</td>
								
								<td> <input class="form-control unite_mesure" id="unite_mesure" type="text" value="" style="text-align: center;" readonly> 
										<input type="hidden" id="id_um" name="id_um" value="0" > </td>
								
								<td> <input class="form-control qte zero" id="qte" name="qte" type="number" step="any" value="0" style="text-align: right;"> </td>
								
								<td> 
									<select id="id_magasin" name="id_magasin" class="form-control id_magasin">
										
									</select>	
								</td>
								
								<td><input class="form-control prix_unitaire" id="prix_unitaire" name="prix_unitaire" type="number" step="any" style="text-align: right;" value="0" readonly> </td>
								
								<td><input class="form-control tva" id="tva_art" name="tva_art" type="number" step="any" style="text-align: right;" value="0" readonly> </td>
								
								<td><input class="form-control montant_ht" id="montant_ht" name="montant_ht_art" type="text" style="text-align: right;" value="0" readonly> </td>
							
							</tr> -->
							
						</tbody>
	
					</table>
					
					<hr>
					
					<div class="d-flex justify-content-center">
						
						<button type="button" id="subsub" class="btn btn-success">Valider</button>
					
					</div>
		
			</form>
			
			</div>
		</div>
	
	</div>
	
	<script type='text/javascript'> spin_it('off'); </script>
	
	<div id="error" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i id="icone" class="" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p id="text"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id="fermer" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	</body>
	
</html>