<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Application Commercial</title>
		
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\floating-labels.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-select-1.13.7\dist\css\bootstrap-select.min.css">
		
		<link rel="stylesheet" href="resources\Plugins\datatable\css\dataTables.bootstrap4.min.css" />  
		
		<link href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css" rel="stylesheet"> 
		
		<script  src="resources\additionalJS\jquery-3.2.1.min.js"></script>
		<script  src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\datatable\js\jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js\dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\sum().js"></script>
		
		<script type="text/javascript" src="resources\additionalJS\drahem.js"></script>
		
		
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\i18n\defaults-fr_FR.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\Table_Export\external\jszip.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\Table_Export\external\FileSaver.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\Table_Export\scripts\excel-gen.js"></script>
		
		<script type="text/javascript">
		
		$(document).ready(function() {
			
			var getUrlParameter = function getUrlParameter(sParam) {
			    var sPageURL = window.location.search.substring(1),
			        sURLVariables = sPageURL.split('&'),
			        sParameterName,
			        i;

			    for (i = 0; i < sURLVariables.length; i++) {
			        sParameterName = sURLVariables[i].split('=');

			        if (sParameterName[0] === sParam) {
			            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
			        }
			    }
			};
			
			var ret = getUrlParameter('ret');
			
			if(ret!=null){
				
				$("#title").text("Information");
				$("#icone").attr("class","far fa-info-circle");
				
				$("#text").text("Annulation effectuer avec succes ");
				
				$("#error").modal('show');
					
			}
			
			$('[data-toggle="tooltip"]').tooltip()
			
			var datatable_config = {
					"language": {
				            "url": "resources/Plugins/datatable/lang/French.json"
				    },
					"ordering": true,
			    	"bPaginate": false,
					"scrollY":"600px",
					"scrollX": "auto",
			        "deferRender": true,
			        "columnDefs": [
			            { "width": "7%", "targets": 9 }
			          ],
			        initComplete: function () {
			            this.api().columns([7]).every( function () {
			                var column = this;
			                var select = $('<select  class="form-control" '+ 
									'><option value="">Tout</option></select>')
			                    .appendTo( $(column.footer()).empty() )
			                    .on( 'change', function () {
			                        var val = $.fn.dataTable.util.escapeRegex(
			                            $(this).val()
			                        );
			 
			                        column
			                            .search( val ? '^'+val+'$' : '', true, false )
			                            .draw();
			                    } );
			 
			                column.data().unique().sort().each( function ( d, j ) {
			                    select.append( '<option value="'+d+'">'+d+'</option>' )
			                } );
			            } );
			        },
					 drawCallback: function () {
						
					      var api = this.api();
					      
					      $( api.column( 8, {page:'current'} ).footer() ).html(
					        api.column( 8, {page:'current'} ).data().sum().formatMoney(3, ',', ' ')
					      );
					      
					 },
		    };
		 		
		 	var table = $('#table').DataTable(datatable_config);
		 	/*
			$(".info").click(function(){
				
				var id_bl = $(this).attr("id_bl");
				
				num_bl = $(this).attr("num_bl");
				
				$('#print_content').html('<iframe id="frame" width="100%" height="828" frameborder="0" '+
											'src="edit_bl?id_bl='+id_bl+'"></iframe>');
				
				$("#title_bl").text("Détail BL N° "+num_bl);
				
				$("#icone_bl").attr("class","far fa-file-invoice");
				
				$("#bl_detail_modal").modal("show");
				
			});*/
				
			$("#fct_blf").click(function(){
				
				var rc_clt = $("#rc").val();
				
				var bls = $("#bls_f").val();
				
				if(rc_clt=="0"){
					
					$("#title").text("Erreur !!!");
					$("#icone").attr("class","far fa-exclamation-triangle");
					$("#text").html("<span> Veuillez selectionner UN RC !!! <span>");
					$("#error").modal('show');
					
				}
				else{
					
					$('#print_content').html('<iframe id="frame" width="100%" height="828" frameborder="0" '+
							'src="facture_blf_list?id_rel_rc_clt='+rc_clt+'&bls_f='+bls+'"></iframe>'); 
					
					/*
					$('#print_content').html('<iframe id="frame" width="100%" height="828" frameborder="0" '+
							'src="facture_blf_list_mais?id_rel_rc_clt='+rc_clt+'&bls_f='+bls+'"></iframe>');  //---> MAIS
					*/
					$("#title_bl").text("Facture des Bon des Livraisons" );
					
					$("#icone_bl").attr("class","far fa-file-invoice");
					
					$("#bl_detail_modal").modal("show");
					
				}
				
			});
			
			$("#afficher").click(function(){
				
				var start = $("#debut").val();
				
				var end = $("#fin").val();
				
				var clt_rc = $("#rc").val();
				
				if(start=="" || end=="" || clt_rc=="0"){
					
					$("#title").text("Erreur !!!");
					$("#icone").attr("class","far fa-exclamation-triangle");
					$("#text").html("<span> Veuillez selectionner les dates et un registre commerce !!! <span>");
					$("#error").modal('show');
					
				}
				else{
					
					//console.log("start = "+start+" / end = "+end);
					window.location.replace("list_blf_by_rc?start="+start+"&end="+end+"&rc_clt="+clt_rc);
					
				}
				
			});
			
			$("#changeRc").click(function(){
				
				var c = $("#rc").clone();
				
				$("#title").text("Changement de Registre commerce ");
				$("#icone").attr("class","far fa-exchange");
				c.attr("id", "newRc");
				$("#text").html(c);
				c.selectpicker();
				$("#text").append(" <hr> <div class='d-flex justify-content-center'> <input type='button' id='validateChangeRc' "+
						"class='btn btn-success' value='Validé' /> </div> ");
				$("#error").modal('show');
				
				validateChangeRcBls();
				
			});
			
			$("#changeDate").click(function(){
				
				$("#title").text("Changement de Date ");
				$("#icone").attr("class","far fa-calendar");
				$("#text").html("<input type='date' id='newDate' class='form-control' />");
				$("#text").append(" <hr> <div class='d-flex justify-content-center'> <input type='button' id='validateChangeDate' "+
						"class='btn btn-success' value='Validé' /> </div> ");
				$("#error").modal('show');
				
				validateChangeDate();
				
			});
			
			$("#refresh").click(function(){
				
				location.reload();
				
			});
			
			var id_bl;
			
			$(".cbox").click(function() {
				
				calculate();
				
			});
			
			$("#select_all").click(function() {
				
				$(".cbox").prop("checked", true);
				
				calculate();
				
			});
			
			$("#deselect_all").click(function() {
				
				$(".cbox").prop("checked", false);
				
				calculate();
				
			});
			
			$("#confirm").click(function(){
				
				$.ajax({
					url : 'cancel_blf',
					data : {
						id_bl : id_bl
					},
					success : function(responseJson) {
						
						location.reload();
						
					}
					
				});
				
			});
			
			$("#generate").click(function(){
				
				$(".nbr").each(function(){
					
					var s = $(this).text();
					
					$(this).text(s.replace(/ /g, ""));
					
				});
				
				var myExcel = new ExcelGen({
					
					  "src_id": "table",
					
					  "show_header": true
					
				});
				
				myExcel.generate();
				
			});
			
		}); //-------------------------------------------> END Document Ready <-------------------------------------//
		
		function calculate(){
			
			var quant = 0;
			
			var bls = "";
			
			$(".cbox:checked").each(function() {
				
				bls += $(this).attr("id_bl")+"-";
				
				quant += parseFloat($(this).attr("quant")); 
				
			});
			
			var total_ht = quant * parseFloat($("#pu_general").val());
			
			var total_tva = total_ht * ( parseFloat($("#taux_tva_general").val()) / 100);
			
			var total_ttc = total_ht + total_tva;
			
			$("#quant_general").val(quant.formatMoney(3, '.', ' '));
			
			$("#ht_general").val(total_ht.formatMoney(3, '.', ' '));
			
			$("#tva_general").val(total_tva.formatMoney(3, '.', ' '));
			
			$("#ttc_general").val(total_ttc.formatMoney(3, '.', ' '));
			
			$("#bls_f").val(bls);
			
		}
		
		//-----------------
		
		function validateChangeRcBls(){
			
			$("#validateChangeRc").click(function(){
				
				var blfs = $("#bls_f").val();
				var id_rc_clt = $("#newRc").val();
				
				if(blfs=="" || id_rc_clt=="0"){
					
					$("#title").text("Erreur !!!");
					$("#icone").attr("class","far fa-exclamation-triangle");
					$("#text").html("<span> Veuillez selectionner des BLs et un RC !!! <span>");
					$("#error").modal('show');
					
				}
				else{
					
					$.ajax({
						url: 'changeRcBls',
						//type: 'POST',
						dataType: 'text',
						data : {
							rc_clt : id_rc_clt,
							blfs : blfs
				        },
				        success : function(responseText) {
							
							if (responseText != "null") {

								$("#title").text("Information !!!");
								$("#icone").attr("class","far fa-thumbs-up");
								$("#text").html("<span> Changement effectuée  <span>");
								$("#error").modal('show');
								
							}
							
						}
					});
					
				}
				
			});
			
		}
		
		//-----------------
		
		function validateChangeDate(){
			
			$("#validateChangeDate").click(function(){
				
				var blfs = $("#bls_f").val();
				var date = $("#newDate").val();
				
				if(blfs=="" || date==""){
					
					$("#title").text("Erreur !!!");
					$("#icone").attr("class","far fa-exclamation-triangle");
					$("#text").html("<span> Veuillez selectionner des BLs et une Date !!! <span>");
					$("#error").modal('show');
					
				}
				else{
					
					$.ajax({
						url: 'changeDateBls',
						//type: 'POST',
						dataType: 'text',
						data : {
							date : date,
							blfs : blfs
				        },
				        success : function(responseText) {
							
							if (responseText != "null") {

								$("#title").text("Information !!!");
								$("#icone").attr("class","far fa-thumbs-up");
								$("#text").html("<span> Changement effectuée  <span>");
								$("#error").modal('show');
								
							}
							
						}
					});
					
				}
				
			});
			
		}
		
		</script>
		
		<style type="text/css">
		
			.rr{
			
				text-align: right;
			
			}
		
		</style>
		
</head>
<body>
	
	 <div class="container-fluid h-100"> <!-- container h-100 -->
		
		<div class="card ">
		
			
			<div class="card-header  text-center"> 
			
				<div class="row">
					
					<div class="col-md-4 offset-md-4">
					
						<h3 class="text-center"> <i class="far fa-file-invoice"></i>  Facturation des Bons de livraisons </h3>
					
					</div>
					
					<div class="col-md-1 offset-md-3">
					
						<button id="refresh" class="btn btn-primary"><i class="far fa-redo-alt"></i></button>
						
					</div>	
					
				</div>
				
				
				
			</div>
			
			<div class="card-body">
			
				<div class="container-fluid">
					
					<div class="row">
						
						<div class="col-md-5 " > <!-- offset-md-1 -->
					
							<div class="input-group">
								
									<select class="selectpicker form-control" data-style="btn btn-outline-secondary" data-live-search="true"
										name="id_rel_rc_clt" id="rc" data-size="5">
										<option  value="0" >Registre Commerce</option>
										
										<option th:each="rc_clt:${rcs_clt}" th:value="${rc_clt.id}" th:text="${rc_clt.registre_commerce.code}" 
												th:attr="data-subtext=${rc_clt.registre_commerce.nom}+' '+${rc_clt.registre_commerce.prenom},
												code_clt=${rc_clt.registre_commerce.code}, nom=${rc_clt.registre_commerce.nom}, 
												prenom=${rc_clt.registre_commerce.prenom}, sold=${rc_clt.registre_commerce.sold_encours}, 
												plafond=${rc_clt.registre_commerce.plafond}, tva=${rc_clt.registre_commerce.tva},
												adresse=${rc_clt.registre_commerce.adresse}, mode_pay=${rc_clt.registre_commerce.mode_paiement.id},
												is_blf=${rc_clt.registre_commerce.multiple_bon_livraison}"
												th:if="${rc_clt}==${rc_clt_selcted}" selected
												>
										</option>
										
										<option th:each="rc_clt:${rcs_clt}" th:value="${rc_clt.id}" th:text="${rc_clt.registre_commerce.code}" 
												th:attr="data-subtext=${rc_clt.registre_commerce.nom}+' '+${rc_clt.registre_commerce.prenom},
												code_clt=${rc_clt.registre_commerce.code}, nom=${rc_clt.registre_commerce.nom}, 
												prenom=${rc_clt.registre_commerce.prenom}, sold=${rc_clt.registre_commerce.sold_encours}, 
												plafond=${rc_clt.registre_commerce.plafond}, tva=${rc_clt.registre_commerce.tva},
												adresse=${rc_clt.registre_commerce.adresse}, mode_pay=${rc_clt.registre_commerce.mode_paiement.id},
												is_blf=${rc_clt.registre_commerce.multiple_bon_livraison}"
												th:unless="${rc_clt}==${rc_clt_selcted}"
												>
										</option>
										
										
									</select>
								
								
									
									<input id="debut" type="date" name="start" th:value="${start}"  class="form-control date" 
										style="" placeholder="DU">
										
									<span class="input-group-text declaration"><i class="far fa-calendar-alt"></i> </span>
									
									<input id="fin" type="date" name="end" th:value="${end}" class="form-control date" 
									style="" placeholder="AU">
									
									<button id="afficher" name="afficher" class="btn btn-dark" type="button">Afficher</button>
									
								
							</div>
							
						</div>
						
						<div class="col-md-2" >
								
							<button id="fct_blf" name="afficher" class="btn btn-dark" type="button">Facturé les BL Selectioner</button>
							
								
						</div>
						
						<div class="col-md-1" >
						
							<button class="btn btn-dark" id="generate">Excel</button>
						
						</div>
						
						<div class="col-md-2" >
							
							<div class="btn-group" role="group" aria-label="Basic example">
							
								<button class="btn btn-dark" id="changeRc">Changement RC</button>
								<button class="btn btn-secondary" id="changeDate">Changement Date</button>
							
							</div>
							
						</div>
						
						<div class="col-md-2" >
						
							<div class="btn-group" role="group" aria-label="Basic example">
							  <button type="button" class="btn btn-dark" id="select_all">Sélectionner Tout</button>
							  <button type="button" class="btn btn-secondary" id="deselect_all">Désélectionner Tout</button>
							</div>
						
						</div>
						
					</div>
					
					<hr>
					
					<div class="row">
					
						<div class="col-md-2 ">
							
							<label>Quanitité</label>
							<input type="text" class="form-control" id="quant_general" value="0" disabled>
						
						</div>
						<!--  
						<div class="col-md-2 ">
							
							<label>Prix unitaire</label>
							<input type="text" class="form-control" id="pu_general" th:value="${price.prix}?: '0'" disabled>
						
						</div>
						
						<div class="col-md-2 ">
							
							<label>Taux TVA (%)</label>
							<input type="text" class="form-control" id="taux_tva_general" th:value="${price.tva!=null}?${price.tva.taux_tva}:'0'" disabled>	
						
						</div>
						
						<div class="col-md-2 ">
							
							<label>TOTAL HT</label>
							<input type="text" class="form-control" id="ht_general" value="0" disabled>
						
						</div>
						
						<div class="col-md-2 ">
							
							<label>TOTAL TVA</label>
							<input type="text" class="form-control" id="tva_general" value="0" disabled>
						
						</div>
						
						<div class="col-md-2 ">
							
							<label>TOTAL TTC</label>
							<input type="text" class="form-control" id="ttc_general" value="0" disabled>
						
						</div>
						-->
						<input type="hidden" id="bls_f" name="bls_f">
						
					</div>
					
					<hr>
					
					<table id="table" class="table table-bordered table-hover" style="width:100%">
					
						<thead class="thead-dark">
						
							<tr>
							
								<th>N°</th>
								<th>Date</th>
								<th>Heure</th>
								<th>Client</th>
								<th >Code </th>
								<th>RC</th>
								<th>Matricule</th>
								<th>Dépot</th>
								<th>Qunatite</th>
								<th>Selection</th>
								
							</tr>
						
						</thead>
						
						<tbody>
						
							<tr th:each="bl:${bls}">
							
								<td th:text="${bl.numero}"></td>
								<td th:text="${bl.date}"></td>
								<td th:text="${bl.time}"></td>
								<td th:text="${bl.client.nom}+' '+${bl.client.prenom}"></td>
								<td th:text="${bl.registre_commerce.code}"></td>
								<td th:text="${bl.registre_commerce.nom}+' '+${bl.registre_commerce.prenom}"></td>
								<td th:text="${bl.matricule}"></td>
								<td th:each="bl_info : ${bls_info}" th:object="${bl_info}" th:if="${bl_info.bon_livraison_facture}==${bl}" 
									th:text="${bl_info.magasin.name}"></td>	
								<td th:each="bl_info : ${bls_info}" th:object="${bl_info}" th:if="${bl_info.bon_livraison_facture}==${bl}" 
									th:text="${bl_info.quantite}" id="qunatite">
								</td>
									<!-- th:text="${#numbers.formatDecimal(bl_info.quantite, 2, 'WHITESPACE', 3,'POINT')}" -->
								<td th:each="bl_info : ${bls_info}" th:object="${bl_info}" th:if="${bl_info.bon_livraison_facture}==${bl}">
									<input  type="checkbox" th:attr="id_bl=${bl.id}, quant=${bl_info.quantite}" class="cbox form-control"> 
								</td>
								
							</tr>
						
						</tbody>
						
						<tfoot class="thead-dark">
						
							<tr>
								
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th class="rr"></th>
								<th></th>
								
							</tr>
						
						</tfoot>
						
					</table>
				
				</div>
			
			</div>
			
		</div>
		
	</div> 
	
	<div id="bl_detail_modal" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered mw-100 w-75" role="document">
	    <div class="modal-content" style="width: 125%;">
	      <div class="modal-header">
	      		
	      		<input type="hidden" id="id_facture">
	      		
	      		<div class="col-md-6">
	      			
	      			<div class="input-group">
	      				<div class="input-group-prepend">
	      					<i id="icone_bl" class="far fa-file-invoice" style="font-size:30px;margin-right:10px;" ></i>
	      				</div>	
	      					<h5 id="title_bl" class="modal-title" > </h5>
			        </div>	
	      		</div>
	      		<!--  
	      		<div class="col-md-4 offset-md-1">
	      		
	      			<button class="btn btn-info" id="print_duplicata"> <i id="icone_fact" class="far fa-print" style="font-size:22px;" ></i> 
	      											Imprimer Duplicata</button>
	      			<button class="btn btn-warning" id="fact_avoir"> <i id="icone_fact" class="far fa-file-invoice" style="font-size:22px;" ></i> 
	      											Facture d'avoir </button>
			      		
	      		</div>
	      		-->
	      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      	
	      </div>
	      
	         <div class="modal-body  embed-responsive embed-responsive-16by9" style="overflow-y:hidden;" id="print_content">
	         
	         	<!-- <iframe id="frame" width="100%" height="100%" onload="ifrhgh()" frameborder="0" src="/new_payment"></iframe> -->
	         
	         </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	      
	    </div>
	  </div>
	</div>
	
	<!-- ---------------------------------------------------------- ------ ----------------------------------------------------------------------------------- -->
	
	<div id="error" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i id="icone" class="" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p id="text"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
	
	<div id="confirmation" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered"  role="document">
	  	
	    <div class="modal-content">
	      
	      <div class="modal-header">
	        <i id="icone" class="far fa-exclamation-triangle" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title">Attention</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      
	      <div class="modal-body">
	        <p id="text_confirmation"></p>
	      </div>
	      
	      <div class="modal-footer justify-content-center">
	      	<button id="confirm" type="button" class="btn btn-primary">OUI</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
	      </div>
	      
	    </div>
	    
	  </div>
	</div>
	
	<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
	
	
	
</body>
</html>