<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Insert title here</title>
	
	
	<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
	<link rel="stylesheet" href="resources\Plugins\datatable\css\dataTables.bootstrap.min.css">
	<link href="resources\Plugins\jAlert-master\dist\jAlert.css" rel="stylesheet">
	<link href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css" rel="stylesheet">
	<link href="resources\Plugins\bootstrap-select-1.13.7\dist\css\bootstrap-select.min.css" rel="stylesheet"> 
	
	<script type="text/javascript" src="resources\additionalJS\jquery-3.2.1.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\datatable\js\jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="resources\Plugins\datatable\js\dataTables.bootstrap.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
	
	<script type="text/javascript" src="resources\additionalJS\jquery-spin.js"></script>
	<script type="text/javascript" src="resources\additionalJS\drahem.js"></script>
	<script type="text/javascript" src="resources\additionalJS\spin.js"></script>  
	    
	<script type="text/javascript">
	
	$(document).ready(function() {
		
		$(".sub").click(function(){
			
			$(".sub").prop("disabled","true");
			
			$(".clicked").val(0);
			
			$(this).parent().parent().find(".clicked").val(1);
			
			$("#frm").submit();
			
		});
		
		if($("#etat_liv").val()==1){
			
			$("#title").text("Erreur !!!");
			$("#icone").attr("class","far fa-exclamation-triangle");
			$("#text").html("Facture établie !!! ");
			$("#error").modal('show');
			
		}
		
	});
	
	</script>
	      
	      
	</head>

	<body >
	
	<!-- ---------------------------------------- -->
	
	<script type='text/javascript'> spin_it('on'); </script>
	
	<!-- ---------------------------------------- -->
	
	<input type="hidden" id="etat_liv" th:value="${etat_liv}">
	
	<div class="container-fluid h-100">
	
		<div class="card">
			
			<div class="card-header">
			
				<div class="d-flex justify-content-center">
				
				</div>
			
			</div>
			
			<div class="card-body">
			
				<form id="frm" th:action="@{/validate_bl_post}" method="post" style="height: 100%" autocomplete="off">
				
					<div class="card" >
						
						<input type="hidden" id="id_bl" name="id_bl" th:value="${bl.id}">
						
						<h5 class="card-header "> <i class="far fa-user-alt"></i> Client </h5>
						<br>
	
						<div class="card-body">
							
							<div class="row">
							
								<div class="col-md-4 offset-md-8">
								
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="text-align: right;"> <i class="far fa-calendar-alt"></i> </span>
										</div>
										<input type="text" class="form-control" id="date" name="date" th:value="${bl.date}" disabled>
	
									</div>
									
								</div>
							
							</div>
							<br>
								<div class="col-md-6 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">Matricule</span>
										</div>
										
										<input type="text" class="form-control" name="matricule" id="matricule" 
												th:value="${bl.matricule}" disabled placeholder="xxxxxx-xxx-xx"> 
											
									</div>
								</div>
	
							<hr>
	
							<div class="row">
	
								<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">RC </span>
										</div>
										
										<input type="text" class="form-control" name="num_rc" id="num_rc" th:value="${bl.registre_commerce.numero_rc}" disabled > 
										
									</div>
								</div>
	
								<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration">Désignation</span>
										</div>
										<input type="text" name="designation_rc" id="designation_rc" class="form-control" 
														th:value="${bl.registre_commerce.nom}+' '+${bl.registre_commerce.prenom}" disabled>
	
									</div>
								</div>
	
	
								<div class="col-md-4">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Adresse </span>
										</div>
										<input type="text" class="form-control " name="adresse_rc"
											id="adresse_rc" th:value="${bl.registre_commerce.adresse}" disabled>
									</div>
								</div>
	
							</div>
	
						</div>
					
					 </div>
	
					<hr />
	
	
					<table class="table" id="table" >
						<thead class="thead-dark">
							<tr>
								<th align="center"  width="8%">Art</th>
								<th  align="center" >Libellé</th>
								<th  align="center"  width="8%">Um</th>
								<th  align="center" style="width:13%">Qte</th>
								<th  align="center" style="width:12%">Validation</th>
							</tr>
						</thead>
	
						<tbody >
	
							<tr th:each="bl_det:${detail_bl}" >
								
								<td> <input class="form-control nom_art" type="text" th:value="${bl_det.article.code}" id="code_art" disabled>
									
									<input type="hidden" id="id_bl_detail" name="id_bl_detail" th:value="${bl_det.id}">
									
									<input type="hidden" name="selection" class="clicked" value="0">
									
								 </td>
								
								<td>
									 
									 <input type="text" class="form-control"  th:value="${bl_det.article.libelle}" disabled>
									 
								</td>
								
								<td> <input class="form-control unite_mesure" id="unite_mesure" type="text" value="" style="text-align: center;"
												th:value="${bl_det.unite_mesure.nom_unite_mesure}" disabled> 
									 <input type="hidden" id="id_um" name="id_um" th:value="${bl_det.unite_mesure.id}" >		
								</td>
								
								<td> <input class="form-control qte zero" id="qte" name="qte" type="number" step="any" th:value="${bl_det.quantite}"
										 style="text-align: right;" disabled> 
										<input type="hidden" id="qte_init" class="qte_init" th:value="${bl_det.quantite}"> </td>
								
								<td align="center">
								
									<button th:if="${bl_det.validation}==false" type="button" class="btn btn-success sub"><span class="far fa-truck-loading"></span> Valider</button>
								
								</td>
								
							</tr>
							
							
						</tbody>
	
					</table>
					
				</form>
					
				</div>	
			</div>
		</div>
	
	
	
	<script type='text/javascript'> spin_it('off'); </script>
	
	<div id="error" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i id="icone" class="" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p id="text"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id="fermer" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	</body>
	
</html>