<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Insert title here</title>
	
	
	<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
	<link rel="stylesheet" href="resources\Plugins\datatable\css\dataTables.bootstrap.min.css">
	<link href="resources\Plugins\jAlert-master\dist\jAlert.css" rel="stylesheet">
	<link href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css" rel="stylesheet">
	<link href="resources\Plugins\bootstrap-select-1.13.7\dist\css\bootstrap-select.min.css" rel="stylesheet"> 
	
	<script type="text/javascript" src="resources\additionalJS\jquery-3.2.1.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\datatable\js\jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="resources\Plugins\datatable\js\dataTables.bootstrap.min.js"></script>
	
	<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
	
	<script type="text/javascript" src="resources\additionalJS\jquery-spin.js"></script>
	<script type="text/javascript" src="resources\additionalJS\drahem.js"></script>
	<script type="text/javascript" src="resources\additionalJS\spin.js"></script>  
	
	<script type="text/javascript">
	
	$(document).ready(function() {
		
		var info = $("#info_av").val();
		
		if(info=="true"){
			
			$("#title").text("Erreur !!!");
			$("#icone").attr("class","far fa-exclamation-triangle");
			$("#text").text("Une facture d'avoire est déja établie !!!");
			$("#error").modal('show');
			
		}
		
	});
	
	</script>
	
	</head>

	<body >
	
	<!-- ---------------------------------------- -->
	
	<script type='text/javascript'> spin_it('on'); </script>
	
	<!-- ---------------------------------------- -->
	
	<div class="container-fluid h-100">
	
		<div class="card">
			<!--  
			<h3 class="card-header  text-center">
				<i class="far fa-file-invoice"></i> Facture <button type="button" id="sub" class="btn btn-success">Enregistrer</button>
			</h3>
			
			<br>
			-->
			<div class="card-body">
					<!--  
					<input type="hidden" id="info_av" th:value="${avoir}">
					-->
					<div class="card" >
	
						<h5 class="card-header "> <i class="far fa-user-alt"></i> Client </h5>
						<br>
	
						<div class="card-body">
							
							<div class="row">
							
								<div class="col-md-4">
								
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Cause </span>
										</div>
										
										<input type="text" id="cause" class="form-control" th:value="${facture_avoir.cause.designation}" disabled>
	
									</div>
								
								</div>
							
							</div>
							
							<br>
							
							<div class="row">
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Code </span>
										</div>
										<input type="text" class="form-control  code_client"
											name="code_client" id="code_client" th:value="${facture_avoir.client.code}" disabled>
	
									</div>
								</div>
								<input type="hidden" class="form-control" id="lib_client"
									name="lib_client" value="">
	
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration">Désignation</span>
										</div>
										<input type="text" name="designation" id="designation" class="form-control " 
												th:value="${facture_avoir.client.nom}+' '+${facture_avoir.client.prenom}" disabled>
	
									</div>
								</div>
	
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Adresse </span>
										</div>
										<input type="text" class="form-control " name="adresse"
											id="adresse" th:value="${facture_avoir.client.adresse}" disabled>
									</div>
								</div>
	
							</div>
	
							<hr>
	
							<div class="row">
								<!--  
								<div class="col-md-6 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">Mode règelment </span>
										</div>
										<input type="text" class="form-control " name="mode_reg" id="mode_reg"
											th:value="${facture_avoir.mode_paiement.designation}"  disabled>
										
									</div>
								</div>
								-->
								<div class="col-md-6 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">Matricule</span>
										</div>
										
										<input type="text" class="form-control" name="matricule" id="matricule" 
												th:value="${facture_avoir.facture.matricule_camion}" disabled placeholder="xxxxxx-xxx-xx"> 
											
									</div>
								</div>
	
							</div>
	
							<hr>
	
							<div class="row">
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 130px; text-align: left;">RC </span>
										</div>
										
										<input type="text" class="form-control" name="num_rc" id="num_rc" th:value="${facture_avoir.registre_commerce.numero_rc}" disabled > 
										
									</div>
								</div>
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration">Désignation</span>
										</div>
										<input type="text" name="designation_rc" id="designation_rc" class="form-control" 
														th:value="${facture_avoir.registre_commerce.nom}+' '+${facture_avoir.registre_commerce.prenom}" disabled>
	
									</div>
								</div>
	
	
								<div class="col-md-4 column">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text declaration"
												style="min-width: 76px; text-align: left;">Adresse </span>
										</div>
										<input type="text" class="form-control " name="adresse_rc"
											id="adresse_rc" th:value="${facture_avoir.registre_commerce.adresse}" disabled>
									</div>
								</div>
	
							</div>
	
							<hr>
							
							<div class="col-md-4 offset-md-8">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text declaration" style="min-width: 106px; text-align: left;"> Montant HT </span>
									</div>
									<input type="text" class="form-control " name="total_ht" style="text-align: right;" id="total_ht" 
										th:value="${#numbers.formatDecimal(facture_avoir.montant_ht, 3, 'WHITESPACE', 2,'COMMA')}" disabled>
								</div>
							</div>
	
	
							<div class="col-md-4 offset-md-8">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text declaration">Montant TVA</span>
									</div>
									<input type="text" class="form-control " name="total_tva" style="text-align: right;" id="total_tva" 
										th:value="${#numbers.formatDecimal((facture_avoir.montant_ttc - facture_avoir.montant_ht), 3, 'WHITESPACE', 2,'COMMA')}" disabled>
								</div>
							</div>
	
	
							<div class="col-md-4 offset-md-8">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text declaration">Montant TTC </span>
									</div>
									<input type="text" class="form-control " name="total_ttc" style="text-align: right;" id="total_ttc" 
										th:value="${#numbers.formatDecimal(facture_avoir.montant_ttc, 3, 'WHITESPACE', 2,'COMMA')}" disabled>
								</div>
							</div>
	
	
						</div>
					</div>
	
					<hr />
	
	
					<table class="table" id="table" >
						<thead class="thead-dark">
							<tr>
								<th align="center"  width="8%">Art</th>
								<th  align="center" >Libellé</th>
								<th  align="center"  width="8%">Um</th>
								<th  align="center" >Qte</th>
								<th  align="center" >PU</th>
								<th  align="center" >TVA</th>
								<th  align="center" >MONTANT HT</th>
							</tr>
						</thead>
	
						<tbody>
	
							<tr th:each="fact_det_a:${detail_facture_avoir}" >
	
								<td> <input class="form-control nom_art" type="text" th:value="${fact_det_a.article.code}" id="code_art" disabled> </td>
								
								<td> 
									<input class="form-control nom_art" type="text" id="art" name="art" disabled
										th:value="${fact_det_a.article.libelle}" > 
								</td>
								
								<td> <input class="form-control unite_mesure" id="unite_mesure" type="text" value="" style="text-align: center;"
												th:value="${fact_det_a.article.pesage_produit.unite_pesage}" disabled> 
								</td>
								
								<td> <input class="form-control qte zero" id="qte" name="qte" type="number" step="any" th:value="${fact_det_a.quantite}" style="text-align: right;" disabled> </td>
								
								<td><input class="form-control prix_unitaire" id="prix_unitaire" name="prix_unitaire" th:value="${fact_det_a.prix_u_ht}" type="number" step="any" style="text-align: right;" disabled> </td>
								
								<td><input class="form-control tva" id="tva" name="tva_art" type="number" th:value="${fact_det_a.tva}" step="any" value="" style="text-align: right;" disabled> </td>
								
								<td><input class="form-control montant_ht" id="montant_ht" name="montant_ht_art" th:value="${#numbers.formatDecimal(fact_det_a.montant_ht, 3, 'WHITESPACE', 2,'COMMA')}" type="text" style="text-align: right;" disabled> </td>
	
							</tr>
	
						</tbody>
	
					</table>
	
			</div>
		</div>
	
	</div>
	
	<script type='text/javascript'> spin_it('off'); </script>
	
	<div id="error" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i id="icone" class="" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p id="text"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" id="fermer" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	</body>
	
</html>