<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Application Commercial</title>
		
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\bootstrap.min.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-4.3.1\css\floating-labels.css">
		<link rel="stylesheet" href="resources\Plugins\bootstrap-select-1.13.7\dist\css\bootstrap-select.min.css">
		
		<link rel="stylesheet" href="resources\Plugins\datatable\css\dataTables.bootstrap4.min.css" />  
		
		<link href="resources\Plugins\Font-Awsom-Pro-5.8.2\css\all.css" rel="stylesheet"> 
		
		<script  src="resources\additionalJS\jquery-3.2.1.min.js"></script>
		<script  src="resources\Plugins\bootstrap-4.3.1\js\bootstrap.bundle.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\datatable\js\jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js\dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\datatable\js_additional\sum().js"></script>
		
		<script type="text/javascript" src="resources\additionalJS\drahem.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\bootstrap-select.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\bootstrap-select-1.13.7\dist\js\i18n\defaults-fr_FR.min.js"></script>
		
		<script type="text/javascript" src="resources\Plugins\Table_Export\external\jszip.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\Table_Export\external\FileSaver.min.js"></script>
		<script type="text/javascript" src="resources\Plugins\Table_Export\scripts\excel-gen.js"></script>
		
		
		<script type="text/javascript">
		
		$(document).ready(function() {
			
			var getUrlParameter = function getUrlParameter(sParam) {
			    var sPageURL = window.location.search.substring(1),
			        sURLVariables = sPageURL.split('&'),
			        sParameterName,
			        i;

			    for (i = 0; i < sURLVariables.length; i++) {
			        sParameterName = sURLVariables[i].split('=');

			        if (sParameterName[0] === sParam) {
			            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
			        }
			    }
			};
			
			var ret = getUrlParameter('ret');
			
			if(ret!=null){
				
				$("#title").text("Information");
				$("#icone").attr("class","far fa-info-circle");
				
				$("#text").text("Annulation effectuer avec succes ");
				
				$("#error").modal('show');
					
			}
			
			$('[data-toggle="tooltip"]').tooltip();
			
			var datatable_config = {
					"language": {
				            "url": "resources/Plugins/datatable/lang/French.json"
				    },
					"ordering": true,
			    	"bPaginate": false,
					"scrollY":"600px",
					"scrollX": "auto",
			        "deferRender": true,
			        initComplete: function () {
			            this.api().columns([2,3,5,6]).every( function () {
			                var column = this;
			                var select = $('<select class="selectpicker show-tick" data-width="fit" data-style="btn btn-outline-secondary" '+ 
			                				'data-live-search="true" data-container="body"><option value="">Tout</option></select>')
			                    .appendTo( $(column.footer()).empty() )
			                    .on( 'change', function () {
			                        var val = $.fn.dataTable.util.escapeRegex(
			                            $(this).val()
			                        );
			 
			                        column
			                            .search( val ? '^'+val+'$' : '', true, false )
			                            .draw();
			                    } );
			 
			                column.data().unique().sort().each( function ( d, j ) {
			                    select.append( '<option value="'+d+'">'+d+'</option>' )
			                } );
			                $('.selectpicker').selectpicker('refresh');
			            } );
			        },
					 drawCallback: function () {
						
					      var api = this.api();
					      
					      $( api.column( 7, {page:'current'} ).footer() ).html(
					        api.column( 7, {page:'current'} ).data().sum().formatMoney(2, ',', ' ')
					      );
					      
					      $( api.column( 8, {page:'current'} ).footer() ).html(
					        api.column( 8, {page:'current'} ).data().sum().formatMoney(2, ',', ' ')
					      );
					      
					      $( api.column( 9, {page:'current'} ).footer() ).html(
					        api.column( 9, {page:'current'} ).data().sum().formatMoney(2, ',', ' ')
					      );
					      $( api.column( 10, {page:'current'} ).footer() ).html(
					        api.column( 10, {page:'current'} ).data().sum().formatMoney(2, ',', ' ')
					      );
					      
					 },/*
					 "createdRow": function ( row, data, index ) {
						$('td', row).eq(7).text( parseFloat(data[7]).formatMoney(2, ',', ' ')),
			         	$('td', row).eq(8).text( parseFloat(data[8]).formatMoney(2, ',', ' ')),
			         	$('td', row).eq(9).text( parseFloat(data[9]).formatMoney(2, ',', ' '))
						  
					},*/
		    };
		 		
		 	var table = $('#table').DataTable(datatable_config);
			
		 	var id_fact; var num_fact;
		 	
			$(".info").click(function(){
				
				id_fact = $(this).attr("id_fact");
				
				$("#id_facture").val(id_fact);
				
				num_fact = $(this).attr("num_fact");
				
				$('#print_content').html('<iframe id="frame" width="100%" height="828" frameborder="0" '+
							'src="info_fact?id_fact='+id_fact+'"></iframe>');
				
				$("#title_fact").text("Détail Facture N° "+num_fact);
				
				$("#icone_fact").attr("class","far fa-file-invoice");
				
				$("#fact_detail_modal").modal("show");
				
			});
			
			$("#fact_avoir").click(function(){
				
				$("#id_facture").val(id_fact);
				
				$('#print_content').html('<iframe id="frame" width="100%" height="828" frameborder="0" '+
						'src="fact_avoir?id_fact='+id_fact+'"></iframe>');
				
				$("#title_fact").text("Facture Avoir pour Facture N° "+num_fact);
				
			});
			
			$(".print").click(function(){
				
				var id_fact = $(this).attr("id_fact");
				
				var num_fact = $(this).attr("num_fact");
				
				var blfs_state = $(this).attr("blfs_state");
				
				var red = "print_fact";
				
				if(blfs_state=="true"){ red = "print_fact_a4"; }
				
				$('#print_content').html('<iframe id="frame" width="100%" height="828" frameborder="0" '+
						'src="'+red+'?id_fact='+id_fact+'"></iframe>');
				
				$("#title_fact").text("Détail Facture N° "+num_fact);
				
				$("#icone_fact").attr("class","far fa-file-invoice");
				
				$("#fact_detail_modal").modal("show");
				
			});
			
			$("#printAll").click(function(){
				
				let start = $("#debut").val();
				
				let end = $("#fin").val();
				
				let id_rc = $("#rc").val();
				
				if(start=="" || end==""){
					
					$("#title").text("Erreur !!!");
					$("#icone").attr("class","far fa-exclamation-triangle");
					$("#text").html("<span> Veuillez selectionner les dates !!! <span>");
					$("#error").modal('show');
					
				}
				else{
					
					$('#print_content').html('<iframe id="frame" width="100%" height="828" frameborder="0" '+
												'src="print_facts?start='+start+'&end='+end+'&id_rc='+id_rc+'"></iframe>');
					
					$("#title_bl").text("Imprimer ");
					
					$("#icone_bl").attr("class","far fa-file-invoice");
					
					$("#fact_detail_modal").modal("show");
					
				}
				
			});
			
			$("#fact_av").click(function(){
				
				var facts = $("#facts").val();
				
				var test = true;
				
				$.ajax({
					url: 'test_rc_factAv',
					dataType: 'text',
					async:false,
					data : {
						facts : facts
			        },
			        success : function(responseText) {
						
						if (responseText == "false") {

							test = false;
							
						}
						
					}
				});
				
				if(test==true){
					
					$('#print_content').html('<iframe id="frame" width="100%" height="828" frameborder="0" '+
							'src="fact_avoir_list?id_facts='+facts+'"></iframe>');
					
					$("#title_fact").text("Facture d'avoir ");
					
					$("#icone_fact").attr("class","far fa-file-invoice");
					
					$("#fact_detail_modal").modal("show");
					
				}
				else{
					
					$("#title").text("Erreur !!!");
					$("#icone").attr("class","far fa-exclamation-triangle");
					$("#text").html("<span> Il y a des factures avec des clients different !!! <span>");
					$("#error").modal('show');
					
				}
				
				
			});
			
			$("#afficher").click(function(){
				
				var start = $("#debut").val();
				
				var end = $("#fin").val();
				
				var id_rc = $("#rc").val();
				
				if(start=="" || end==""){
					
					$("#title").text("Erreur !!!");
					$("#icone").attr("class","far fa-exclamation-triangle");
					$("#text").html("<span> Veuillez selectionner les dates !!! <span>");
					$("#error").modal('show');
					
				}
				else{
					
					//console.log("start = "+start+" / end = "+end);
					window.location.replace("list_fact?date_debut="+start+"&date_fin="+end+"&id_rc="+id_rc);
					
				}
				
			});
			
			$("#years").change(function(){
				
				var start = "01/01/"+$(this).val();
				
				var end = "31/12/"+$(this).val();
					
				window.location.replace("list_fact?date_debut="+start+"&date_fin="+end);
				
			});
			
			
			$("#today").click(function(){
				window.location.replace("list_fact?date_debut=0&date_fin=0");
				
			});
			
			$("#generate").click(function(){
				
				$(".nbr").each(function(){
					
					var s = $(this).text();
					
					$(this).text(s.replace(/ /g, ""));
					
				});
				
				var myExcel = new ExcelGen({
					
					  "src_id": "table",
					
					  "show_header": true
					
				});
				
				myExcel.generate();
				/*
				$(".nbr").each(function(){
					
					var s = $(this).text();
					
					$(this).text(s.formatMoney(2, '.', ' '));
					
				});
				*/
			});
			
			//---------------------------------------------------
			
			$(".cbox").click(function() {
				
				var facts = "";
				
				$(".cbox:checked").each(function() {
					
					facts += $(this).attr("id_fact")+"-";
					
				});
				
				$("#facts").val(facts);
				
			});
			
			$("#select_all").click(function() {
				
				$(".cbox").prop("checked", true);
				
				var facts = "";
				
				$(".cbox:checked").each(function() {
					
					facts += $(this).attr("id_fact")+"-";
					
				});
				
				$("#facts").val(facts);
				
			});
			
			$("#deselect_all").click(function() {
				
				$(".cbox").prop("checked", false);
				
				var facts = "";
				
				$(".cbox:checked").each(function() {
					
					facts += $(this).attr("id_fact")+"-";
					
				});
				
				$("#facts").val(facts);
				
			});
			
		});
		
		</script>
		
		<style type="text/css">
		
			.rr{
			
				text-align: right;
			
			}
		
		</style>
		
</head>
<body>
	
	 <div class="container-fluid h-100"> <!-- container h-100 -->
		
		<div class="card ">
		
			
			<h3 class="card-header  text-center"> <i class="far fa-clipboard-list-check"></i>  List des Factures </h3>
			<br>
			
			<div class="card-body">
			
				<div class="container-fluid">
					
					<div class="row">
						 
						<div class="col-md-4" >
						
							<div class="input-group">
							
								
									<input id="debut" type="date" name="start" th:value="${date_d}"  class="form-control date" placeholder="DU">
										
									<span class="input-group-text declaration"><i class="far fa-calendar-alt"></i> </span>
									
									<input id="fin" type="date" name="end" th:value="${date_f}" class="form-control date"  placeholder="AU">
									
									<button id="afficher" name="afficher" class="btn btn-dark" type="button">Afficher</button>
									
								
								
							</div>
							
						</div>
						  
						<div class="col-md-2" >
						
							
							<select id="rc" class="selectpicker " data-live-search="true" data-style="btn btn-outline-dark" data-width="100%">
							
								<option value="0"> Tout </option>
								
								<option th:each="rc:${rcs}" th:value="${rc.id}" th:text="${rc.nom}+' '+${rc.prenom}" 
									th:attr="data-subtext=${rc.code}" th:if="${rc.id}==${selected_rc}" selected></option>
								
								<option th:each="rc:${rcs}" th:value="${rc.id}" th:text="${rc.nom}+' '+${rc.prenom}" 
									th:attr="data-subtext=${rc.code}" th:unless="${rc.id}==${selected_rc}" ></option>
								
							</select>
								
							
						</div>
						
						<div class="col-md-1" >
						
							<button class="btn btn-dark" id="generate">Excel</button>
						
						</div>
						
						<div class="col-md-1" >
						
							<button class="btn btn-dark" id="fact_av">Facture Avoir</button>
							<input type="hidden" id="facts">
							
						</div>
						
						<div class="col-md-2" >
						
							<div class="btn-group" role="group" aria-label="Basic example">
							  <button type="button" class="btn btn-dark" id="select_all">Sélectionner Tout</button>
							  <button type="button" class="btn btn-secondary" id="deselect_all">Désélectionner Tout</button>
							</div>
						
						</div>
						
						<div class="col-md-1" >
						
							<button class="btn btn-dark" id="printAll">Imprimer</button>
						
						</div>
						
					</div>
					
					<hr>
					
					<table id="table" class="table table-bordered table-hover" style="width:100%"> 
					
						<thead class="thead-dark">
						
							<tr>
							
								<th>N°</th>
								<th>Date</th>
								<th>Client</th>
								<th >Code </th>
								<th>RC</th>
								<th>Mode Reglement</th>
								<th>Matricule</th>
								<th>Montant HT</th>
								<th>Montant NET HT</th>
								<th>Montant TVA</th>
								<th>Montant TTC</th>
								<th>Visualiser</th>
								<th>Selection</th>
								
							</tr>
						
						</thead>
						
						<tbody>
						
							<tr th:each="list_fact:${list_facture}" th:if="${list_fact.printed}==true">
							
								<td th:text="${list_fact.numero}"></td>
								<td th:text="${list_fact.date}"></td>
								<td th:text="${list_fact.client.nom}+' '+${list_fact.client.prenom}"></td>
								<td th:text="${list_fact.registre_commerce.code}"></td>
								<td th:text="${list_fact.registre_commerce.nom}+' '+${list_fact.registre_commerce.prenom}"></td>
								<td th:if="${list_fact.mode_paiement}!=null" th:text="${list_fact.mode_paiement.designation}"></td>
								<td th:unless="${list_fact.mode_paiement}!=null" th:text="''"></td>
								<td th:text="${list_fact.matricule_camion}"></td>
								<td th:text="${#numbers.formatDecimal(list_fact.montant_ht, 3, 'WHITESPACE', 2,'POINT')}" class="rr"></td>
								<td th:text="${#numbers.formatDecimal(list_fact.montant_ht_net, 3, 'WHITESPACE', 2,'POINT')}" class="rr"></td>
								<td th:text="${#numbers.formatDecimal(list_fact.montant_tva, 3, 'WHITESPACE', 2,'POINT')}" class="rr"></td>
								<td th:text="${#numbers.formatDecimal(list_fact.montant_ttc, 3, 'WHITESPACE', 2,'POINT')}" class="rr"></td>
								<td style="text-align: center;"> <button type="button" class="btn btn-dark info" 
																	th:attr="id_fact=${list_fact.id},num_fact=${list_fact.numero}"> 
																						<i class="far fa-info-square"></i>
																 </button>
																 <button type="button" class="btn btn-info print" 
																 	th:attr="id_fact=${list_fact.id},num_fact=${list_fact.numero},
																 	blfs_state=${list_fact.registre_commerce.multiple_bon_livraison}"> 
																						<i class="far fa-print"></i>
																 </button>  
								</td>
								<td>
									<input th:if="${list_fact.facture_avoir}==null" type="checkbox" th:attr="id_fact=${list_fact.id}" 
										class="cbox form-control">
								</td>
								
							</tr>
							
							<tr th:each="list_fact:${list_facture}" th:unless="${list_fact.printed}==true" style="background-color:#ef9a9a;">
							
								<td th:text="${list_fact.numero}"></td>
								<td th:text="${list_fact.date}"></td>
								<td th:text="${list_fact.client.nom}+' '+${list_fact.client.prenom}"></td>
								<td th:text="${list_fact.registre_commerce.code}"></td>
								<td th:text="${list_fact.registre_commerce.nom}+' '+${list_fact.registre_commerce.prenom}"></td>
								<td th:text="${list_fact.mode_paiement.designation}"></td>
								<td th:text="${list_fact.matricule_camion}"></td>
								<td th:text="${#numbers.formatDecimal(list_fact.montant_ht, 3, 'WHITESPACE', 2,'POINT')}" class="rr"></td>
								<td th:text="${#numbers.formatDecimal(list_fact.montant_ht_net, 3, 'WHITESPACE', 2,'POINT')}" class="rr"></td>
								<td th:text="${#numbers.formatDecimal(list_fact.montant_tva, 3, 'WHITESPACE', 2,'POINT')}" class="rr"></td>
								<td th:text="${#numbers.formatDecimal(list_fact.montant_ttc, 3, 'WHITESPACE', 2,'POINT')}" class="rr"></td>
								<td style="text-align: center;"> <button type="button" class="btn btn-dark info" 
																	th:attr="id_fact=${list_fact.id},num_fact=${list_fact.numero}"> 
																						<i class="far fa-info-square"></i>
																 </button>
																 <button type="button" class="btn btn-info print" 
																 	th:attr="id_fact=${list_fact.id},num_fact=${list_fact.numero},
																 	blfs_state=${list_fact.registre_commerce.multiple_bon_livraison}"> 
																						<i class="far fa-print"></i>
																 </button>  
								</td>
								<td>
									<input th:if="${list_fact.facture_avoir}==null" type="checkbox" th:attr="id_fact=${list_fact.id}" 
										class="cbox form-control">
								</td>
								
							</tr>
							
						</tbody>
						
						<tfoot class="thead-dark">
						
							<tr>
							
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th class="rr"></th>
								<th class="rr"></th>
								<th class="rr"></th>
								<th class="rr"></th>
								<th></th>
								<th></th>
								
							</tr>
						
						</tfoot>
						
					</table>
				
				</div>
			
			</div>
			
		</div>
		
	</div> 
	
	<div id="fact_detail_modal" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered mw-100 w-75" role="document">
	    <div class="modal-content" style="width: 125%;">
	      <div class="modal-header">
	      		
	      		<input type="hidden" id="id_facture">
	      		
	      		<div class="col-md-6">
	      			
	      			<div class="input-group">
	      				<div class="input-group-prepend">
	      					<i id="icone_fact" class="far fa-file-invoice" style="font-size:30px;margin-right:10px;" ></i>
	      				</div>	
	      					<h5 id="title_fact" class="modal-title" > </h5>
			        </div>	
	      		</div>
	      		
	      		<div class="col-md-4 offset-md-1">
	      		<!--  
	      			<button class="btn btn-info" id="print_fact"> <i id="icone_fact" class="far fa-print" style="font-size:22px;" ></i> 
	      											Imprimer </button>  
	      			<button class="btn btn-warning" id="fact_avoir"> <i id="icone_fact" class="far fa-file-invoice" style="font-size:22px;" ></i> 
	      											Facture d'avoir </button>
			    	--> 
	      		</div>
	      	
	      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      	
	      </div>
	      
	         <div class="modal-body  embed-responsive embed-responsive-16by9" style="overflow-y:hidden;" id="print_content">
	         
	         	<!-- <iframe id="frame" width="100%" height="100%" onload="ifrhgh()" frameborder="0" src="/new_payment"></iframe> -->
	         
	         </div>
	      
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	      
	    </div>
	  </div>
	</div>
	
	<!-- ---------------------------------------------------------- ------ ----------------------------------------------------------------------------------- -->
	
	<div id="error" class="modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i id="icone" class="" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p id="text"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
	
	<div id="confirmation" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered"  role="document">
	  	
	    <div class="modal-content">
	      
	      <div class="modal-header">
	        <i id="icone" class="far fa-exclamation-triangle" style="font-size:30px;color:red;margin-right:10px;"></i> <h5 class="modal-title" id="title">Attention</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      
	      <div class="modal-body">
	        <p id="text_confirmation"></p>
	      </div>
	      
	      <div class="modal-footer justify-content-center">
	      	<button id="confirm" type="button" class="btn btn-primary">OUI</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
	      </div>
	      
	    </div>
	    
	  </div>
	</div>
	
	<!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
	
	
	
</body>
</html>